In [64]:
import pandas as pd
import numpy as np
import nltk
import re
import string

import matplotlib.pyplot as plt
%matplotlib inline

In [68]:
# df = pd.read_csv('data/JEOPARDY_CSV.csv', encoding='utf-8')
full_df = pd.read_csv('data/JEOPARDY_CSV.csv', encoding='utf-8')
print(full_df.shape)
full_df.head()

(216930, 7)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [69]:
df = full_df.sample(frac=0.1)
df.reset_index(drop=True, inplace=True)

In [70]:
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4764,2005-04-28,Double Jeopardy!,CIRCUS SLANG,$2000,"Term for any dessert served in the cookhouse, ...",Abba Dabba
1,3272,1998-11-24,Double Jeopardy!,CLASSICAL MUSIC,$800,"From 1933 to 1935, he served as president of G...",Richard Strauss
2,2987,1997-09-02,Double Jeopardy!,THAT'S RANK!,$200,"As generals of the army, Dwight Eisenhower & O...",Five
3,2130,1993-12-03,Jeopardy!,SCIENCE,$300,Scientist John Dalton suffered from the red-gr...,Colorblindness
4,5957,2010-07-06,Jeopardy!,RHYMES WITH SMART,$400,"Small, slender missile thrown at a board in a ...",a dart

In [71]:
# Remove the dumb spaces
df.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question', 'Answer']

# Convert to Datetime
df['Air Date'] = pd.to_datetime(df['Air Date'])

# Clean out Value column
df['Value'] = df['Value'].str.replace('$','')
df['Value'] = df['Value'].str.replace(',','')
df['Value'] = df['Value'].apply(lambda x: None if x == 'None' else int(x))
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4764,2005-04-28,Double Jeopardy!,CIRCUS SLANG,2000.0,"Term for any dessert served in the cookhouse, ...",Abba Dabba
1,3272,1998-11-24,Double Jeopardy!,CLASSICAL MUSIC,800.0,"From 1933 to 1935, he served as president of G...",Richard Strauss
2,2987,1997-09-02,Double Jeopardy!,THAT'S RANK!,200.0,"As generals of the army, Dwight Eisenhower & O...",Five
3,2130,1993-12-03,Jeopardy!,SCIENCE,300.0,Scientist John Dalton suffered from the red-gr...,Colorblindness
4,5957,2010-07-06,Jeopardy!,RHYMES WITH SMART,400.0,"Small, slender missile thrown at a board in a ...",a dart

In [72]:
df['Question'].value_counts()[0:5]

Preppie runs away from school; spends memorable weekend in New York; gets even more depressed                           2
John Nance Garner                                                                                                       2
John Hoppner, a favorite royal portrait artist of the late 1700s, was rumored to be an illegitimate son of this king    2
Pauling found an "alpha" type of this spiral in proteins; Watson & Crick found a "double" one in DNA                    2
"Talk To The Animals"                                                                                                   2
Name: Question, dtype: int64

In [73]:
df.shape

(21693, 7)

In [74]:
# Drop some useless questions
df = df[df['Question'] != '[audio clue]']
df = df[df['Question'] != '[video clue]']
df = df[df['Question'] != '[filler]']
df = df[df['Question'] != '(audio clue)']

In [75]:
df.shape

(21692, 7)

In [78]:
# load nltk's English stopwords as variable called 'stopwords'
stopwords = nltk.corpus.stopwords.words('english')
print(len(stopwords))
print(stopwords[:10])

153
[u'i', u'me', u'my', u'myself', u'we', u'our', u'ours', u'ourselves', u'you', u'your']

In [79]:
# load nltk's SnowballStemmer as variabled 'stemmer'
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")

In [80]:
# here I define a tokenizer and stemmer which returns the set of stems in the text that it is passed

def tokenize_and_stem(text):
    # first tokenize by sentence, then by word to ensure that punctuation is caught as it's own token
    tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # filter out any tokens not containing letters (e.g., numeric tokens, raw punctuation)
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    stems = [stemmer.stem(t) for t in filtered_tokens]
    return stems


def tokenize_only(text):
    # first tokenize by sentence, then by word to ensure that punctuation is caught as it's own token
    tokens = [word.lower() for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # filter out any tokens not containing letters (e.g., numeric tokens, raw punctuation)
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    return filtered_tokens

In [81]:
def create_clean_columns(df):    
    df['clean_question'] = df['Question'].apply(cleanhtml)
    df['clean_answer'] = df['Answer'].apply(cleanhtml)
#     df['clean_category'] = df['Category'].apply(cleanhtml)
    df['everything'] = df['clean_question']+' '+df['clean_answer']#+' '+df['clean_category']
    return df

def cleanhtml(raw_html):
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', raw_html)
    cleantext = cleantext.replace('\n', '')
#     cleantext = cleantext.translate(string.maketrans("",""), string.punctuation)
    cleantext = cleantext.lower()
    return cleantext

In [82]:
create_clean_columns(df)

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,everything
0,4764,2005-04-28,Double Jeopardy!,CIRCUS SLANG,2000.0,"Term for any dessert served in the cookhouse, ...",Abba Dabba,"term for any dessert served in the cookhouse, ...",abba dabba,"term for any dessert served in the cookhouse, ..."
1,3272,1998-11-24,Double Jeopardy!,CLASSICAL MUSIC,800.0,"From 1933 to 1935, he served as president of G...",Richard Strauss,"from 1933 to 1935, he served as president of g...",richard strauss,"from 1933 to 1935, he served as president of g..."
2,2987,1997-09-02,Double Jeopardy!,THAT'S RANK!,200.0,"As generals of the army, Dwight Eisenhower & O...",Five,"as generals of the army, dwight eisenhower & o...",five,"as generals of the army, dwight eisenhower & o..."
3,2130,1993-12-03,Jeopardy!,SCIENCE,300.0,Scientist John Dalton suffered from the red-gr...,Colorblindness,scientist john dalton suffered from the red-gr...,colorblindness,scientist john dalton suffered from the red-gr...
4,5957,2010-07-06,Jeopardy!,RHYMES WITH SMART,400.0,"Small, slender missile thrown at a board in a ...",a dart,"small, slender missile thrown at a board in a ...",a dart,"small, slender missile thrown at a board in a ..."
5,3905,2001-07-20,Double Jeopardy!,ZANY FOR TANZANIA,600.0,"Native to Tanzania, it's the African plant see...",African violet,"native to tanzania, it's the african plant see...",african violet,"native to tanzania, it's the african plant see..."
6,4544,2004-05-13,Double Jeopardy!,"OH, THE THINGS I KNOW!",1600.0,"In 1876 this ""Wild"" West man was killed in the...",Wild Bill Hickok,"in 1876 this ""wild"" west man was killed in the...",wild bill hickok,"in 1876 this ""wild"" west man was killed in the..."
7,3102,1998-02-10,Double Jeopardy!,WE'RE MALAYSIA-BOUND,600.0,"Of proton, electron or neutron, with ""Saga"", i...",Proton,"of proton, electron or neutron, with ""saga"", i...",proton,"of proton, electron or neutron, with ""saga"", i..."
8,5257,2007-06-19,Jeopardy!,AGES AGO,200.0,"When Sumerians used these in war, they had 4 w...",chariots,"when sumerians used these in war, they had 4 w...",chariots,"when sumerians used these in war, they had 4 w..."
9,3859,2001-05-17,Jeopardy!,FIRST NAME'S THE SAME,500.0,"Smith, Rogers, Durant",Will,"smith, rogers, durant",will,"smith, rogers, durant will"
10,5810,2009-12-11,Jeopardy!,FLAGS,1000.0,It's the peninsular nation whose flag is seen ...,South Korea,it's the peninsular nation whose flag is seen ...,south korea,it's the peninsular nation whose flag is seen ...
11,6250,2011-11-18,Jeopardy!,A LITTLE ALLITERATION,1000.0,This protein part of blood plasma may be given...,gamma globulin,this protein part of blood plasma may be given...,gamma globulin,this protein part of blood plasma may be given...
12,3749,2000-12-14,Double Jeopardy!,FRANCO-AMERICAN CITIES,200.0,"End of the Lake, Wisconsin",Fond du Lac,"end of the lake, wisconsin",fond du lac,"end of the lake, wisconsin fond du lac"
13,3040,1997-11-14,Double Jeopardy!,FAMILIAR PHRASES,800.0,"""All is fair in"" these 2 things",love & war,"""all is fair in"" these 2 things",love & war,"""all is fair in"" these 2 things love & war"
14,2854,1997-01-16,Jeopardy!,EXPLORERS,100.0,Arctic explorer Sir John Franklin served on a ...,War of 1812,arctic explorer sir john franklin served on a ...,war of 1812,arctic explorer sir john franklin served on a ...
15,3057,1997-12-09,Double Jeopardy!,WWII,200.0,"On Dec. 7, 1944 this Russian & de Gaulle were ...",Josef Stalin,"on dec. 7, 1944 this russian & de gaulle were ...",josef stalin,"on dec. 7, 1944 this russian & de gaulle were ..."
16,5524,2008-09-18,Jeopardy!,KINGS & QUEENS,400.0,In 1918 this country's Christian X recognized ...,Denmark,in 1918 this country's christian x recognized ...,denmark,in 1918 this country's christian x recognized ...
17,5199,2007-03-29,Jeopardy!,STUPID ANSWERS,800.0,This capital city of Luxembourg lies on a plat...,Luxembourg,this capital city of luxembourg lies on a plat...,luxembourg,this capital city of luxembourg lies on a plat...
18,3584,2000-03-16,Double Jeopardy!,THE JIMMY STEWART FILM FESTIVAL,1000.0,Dizziness & loss of balance characterize this ...,Vertigo,dizziness & loss of balance characterize this ...,vertigo,dizziness & loss of balance characterize this ...
19,3915,2001-09-14,Double Jeopardy!,WHY DID THEY MAKE THIS MOVIE?,600.0,Patrick Swayze is a world-class bouncer (with ...,Road House,patrick swayze is a world-class bouncer (with ...,road house,patrick swayze is a world-class bouncer (with ...
20,3675,2000-07-21,Double Jeopardy!,QUOTATIONS,1000.0,This utilitarian philosopher called natural ri...,Jeremy Bentham,this utilitarian philosopher called natural ri...,jeremy bentham,this utilitarian philosopher called natural ri...
21,5228,2007-05-09,Double Jeopardy!,TURRETS SYNDROME,2000.0,"Even the peaceful Swiss needed their castles, ...",Lake Geneva,"even the peaceful swiss needed their castles, ...",lake geneva,"even the peaceful swiss needed their castles, ..."
22,4585,2004-07-09,Double Jeopardy!,STATES' HIGH POINTS,800.0,"The wind comes sweeping down its high point, B...",Oklahoma,"the wind comes sweeping down its high point, b...",oklahoma,"the wind comes sweeping down its high point, b..."
23,3132,1998-03-24,Double Jeopardy!,BITES,200.0,"Unlike their undead counterparts, these bats p...",vampire bats,"unlike their undead counterparts, these bats p...",vampire bats,"unlike their undead counterparts, these bats p..."
24,4923,2006-01-25,Final Jeopardy!,WORD ORIGINS,NaN,"This word that has come to mean ""sudden prospe...",bonanza,"this word that has come to mean ""sudden prospe...",bonanza,"this word that has come to mean ""sudden prospe..."
25,5717,2009-06-16,Double Jeopardy!,YOU'VE BEEN POSTERIZED!,1200.0,Katsushika Hokusai made numerous woodblock pri...,Mt. Fuji,katsushika hokusai made numerous woodblock pri...,mt. fuji,katsushika hokusai made numerous woodblock pri...
26,6172,2011-06-14,Jeopardy!,OTHER STATUES OF LIBERTY,800.0,"The statue seen <a href=""http://www.j-archive....",Las Vegas,the statue seen here is in this western city t...,las vegas,the statue seen here is in this western city t...
27,5682,2009-04-28,Jeopardy!,FICTIONAL MUNCHIES,200.0,2-word name for the mysterious food item often...,Scooby Snack,2-word name for the mysterious food item often...,scooby snack,2-word name for the mysterious food item often...
28,6161,2011-05-30,Jeopardy!,CARBAGE,1000.0,This model was the infamous focus of Ralph Nad...,the Corvair,this model was the infamous focus of ralph nad...,the corvair,this model was the infamous focus of ralph nad...
29,1660,1991-11-15,Final Jeopardy!,COLONIAL AMERICA,NaN,The colonists referred to the first three Fren...,"George, Anne & William",the colonists referred to the first three fren...,"george, anne & william",the colonists referred to the first three fren...
...,...,...,...,...,...,...,...,...,...,...
21663,4802,2005-06-21,Jeopardy!,HISTORIC GREETING CARDS,600.0,Sailor who in 1500 got the Father's Day <a hre...,Christopher Columbus,sailor who in 1500 got the father's day card: ...,christopher columbus,sailor who in 1500 got the father's day card: ...
21664,5048,2006-07-19,Jeopardy!,MIDDLE ENGLISH CLASS,600.0,"This word from the Middle English means ""nothi...",naught,"this word from the middle english means ""nothi...",naught,"this word from the middle english means ""nothi..."
21665,3789,2001-02-08,Jeopardy!,STATE CAPITALS,500.0,This state capital's metropolitan area include...,Phoenix,this state capital's metropolitan area include...,phoenix,this state capital's metropolitan area include...
21666,3125,1998-03-13,Double Jeopardy!,"""CAT"" GOT YOUR TONGUE?",400.0,A trancelike state in which a person doesn't t...,catatonia,a trancelike state in which a person doesn't t...,catatonia,a trancelike state in which a person doesn't t...
21667,4976,2006-04-10,Jeopardy!,KICK THE CANNES,1000.0,"The first festival in 1946 screened ""The Lost ...",Billy Wilder,"the first festival in 1946 screened ""the lost ...",billy wilder,"the first festival in 1946 screened ""the lost ..."
21668,6049,2010-12-23,Jeopardy!,TV TITLE PLACES,1000.0,"Jason Lee as an Elvis-impersonating cop: ""___ ...",Memphis,"jason lee as an elvis-impersonating cop: ""___ ...",memphis,"jason lee as an elvis-impersonating cop: ""___ ..."
21669,6055,2010-12-31,Double Jeopardy!,LOST,800.0,"It's no joke--the dog seen <a href=""http://www...",a Saint Bernard,it's no joke--the dog seen here is noted for s...,a saint bernard,it's no joke--the dog seen here is noted for s...
21670,4735,2005-03-18,Double Jeopardy!,"WOULD YOU TAKE AN ""IOU""?",800.0,"Geographically, it precedes ""City"" in Iowa & ""...",Sioux,"geographically, it precedes ""city"" in iowa & ""...",sioux,"geographically, it precedes ""city"" in iowa & ""..."
21671,3203,1998-07-01,Jeopardy!,ROYALTY,300.0,This duchess of Aquitaine may have been the mo...,Eleanor,this duchess of aquitaine may have been the mo...,eleanor,this duchess of aquitaine may have been the mo...
21672,6026,2010-11-22,Double Jeopardy!,AUTHORS' BIRTHPLACES,1200.0,"Salinas, California (east of... Frisco) was th...",Steinbeck,"salinas, california (east of... frisco) was th...",steinbeck,"salinas, california (east of... frisco) was th..."
21673,6168,2011-06-08,Jeopardy!,TAKING NAMES,800.0,African emperor Ras Tafari Makonnen,Haile Selassie,african emperor ras tafari makonnen,haile selassie,african emperor ras tafari makonnen haile sela...
21674,4272,2003-03-11,Jeopardy!,THE BARD WRITES,600.0,After he & Cassius team up to kill Julius Caes...,Brutus,after he & cassius team up to kill julius caes...,brutus,after he & cassius team up to kill julius caes...
21675,3441,1999-07-19,Double Jeopardy!,EXPLORERS,200.0,In 1909 Roald Amundsen set his hopes on being ...,North Pole,in 1909 roald amundsen set his hopes on being ...,north pole,in 1909 roald amundsen set his hopes on being ...
21676,3627,2000-05-16,Jeopardy!,CHARACTERS IN MUSICALS,100.0,Arthur gets trapped in Morgan Le Fey's enchant...,Camelot,arthur gets trapped in morgan le fey's enchant...,camelot,arthur gets trapped in morgan le fey's enchant...
21677,5652,2009-03-17,Double Jeopardy!,ROCKS & MINERALS,2000.0,Obsidian is described as having this type of l...,vitreous,obsidian is described as having this type of l...,vitreous,obsidian is described as having this type of l...
21678,2969,1997-06-26,Jeopardy!,WARS,300.0,"Though neutral today, it fought a war of indep...",Switzerland,"though neutral today, it fought a war of indep...",switzerland,"though neutral today, it fought a war of indep..."
21679,4532,2004-04-27,Double Jeopardy!,PREHISTORIC TIMES,400.0,"Scientists have identified over 4,000 species ...",trilobites,"scientists have identified over 4,000 species ...",trilobites,"scientists have identified over 4,000 species ..."
21680,1486,1991-02-04,Jeopardy!,TRAINS,500.0,The world's longest railroad line connects Vla...,Moscow,the world's longest railroad line connects vla...,moscow,the world's longest railroad line connects vla...
21681,4638,2004-11-04,Double Jeopardy!,"""I"" LADS",1200.0,"Born in Romania in 1912, this absurdist playwr...",Ionesco,"born in romania in 1912, this absurdist playwr...",ionesco,"born in romania in 1912, this absurdist playwr..."
21682,5058,2006-09-13,Jeopardy!,"MR. ""ED""",800.0,The term for excess fluid can be cerebral or p...,edema,the term for excess fluid can be cerebral or p...,edema,the term for excess fluid can be cerebral or p...
21683,3023,1997-10-22,Double Jeopardy!,THE NOBEL PRIZE,200.0,He's the only British prime minister to win a ...,Winston Churchill,he's the only british prime minister to win a ...,winston churchill,he's the only british prime minister to win a ...
21684,4210,2002-12-13,Double Jeopardy!,PLAYING DOCTOR,1600.0,Medical examiner Dr. Jordan Cavanaugh,Jill Hennessy,medical examiner dr. jordan cavanaugh,jill hennessy,medical examiner dr. jordan cavanaugh jill hen...
21685,5112,2006-11-28,Jeopardy!,THEY TOOK DEBATE,600.0,In 1993 Vice President Al Gore & Ross Perot ap...,NAFTA,in 1993 vice president al gore & ross perot ap...,nafta,in 1993 vice president al gore & ross perot ap...
21686,5588,2008-12-17,Double Jeopardy!,YULETIDE FAVORITES,400.0,"He said, ""Let's run and we'll have some fun no...",Frosty the Snowman,"he said, ""let's run and we'll have some fun no...",frosty the snowman,"he said, ""let's run and we'll have some fun no..."
21687,5986,2010-09-27,Jeopardy!,"""B"" IN FASHION",600.0,In the '50s trendy teen girls dressed up in po...,bobby socks,in the '50s trendy teen girls dressed up in po...,bobby socks,in the '50s trendy teen girls dressed up in po...
21688,3820,2001-03-23,Jeopardy!,IT SOUNDS LIKE,300.0,"A pitcher who comes in late in the game, it so...",Relief,"a pitcher who comes in late in the game, it so...",relief,"a pitcher who comes in late in the game, it so..."
21689,4487,2004-02-24,Double Jeopardy!,"I'M ""L__X""",1600.0,This city of east central Egypt is the souther...,Luxor,this city of east central egypt is the souther...,luxor,this city of east central egypt is the souther...
21690,4359,2003-07-10,Double Jeopardy!,AUTHOR-ITATIVE INFORMATION,2000.0,"(Jimmy of the Clue Crew in Oahu, Hawaii) When...",Robert Louis Stevenson,"(jimmy of the clue crew in oahu, hawaii) when...",robert louis stevenson,"(jimmy of the clue crew in oahu, hawaii) when..."
21691,4080,2002-05-03,Jeopardy!,CLASSIC TV,1000.0,Officers Toody & Muldoon kept order in the Bro...,"Car 54, Where Are You?",officers toody & muldoon kept order in the bro...,"car 54, where are you?",officers toody & muldoon kept order in the bro...
21692,6300,2012-01-27,Jeopardy!,STUPID ANSWERS,1000.0,The Mosquito Indians are a majority population...,the Mosquito Coast,the mosquito indians are a majority population...,the mosquito coast,the mosquito indians are a majority population...

In [83]:
questions = df['everything'].values

In [84]:
#not super pythonic, no, not at all.
#use extend so it's a big flat list of vocab
totalvocab_stemmed = []
totalvocab_tokenized = []
for i in questions:
    allwords_stemmed = tokenize_and_stem(i) #for each item in 'synopses', tokenize/stem
    totalvocab_stemmed.extend(allwords_stemmed) #extend the 'totalvocab_stemmed' list
    
    allwords_tokenized = tokenize_only(i)
    totalvocab_tokenized.extend(allwords_tokenized)

In [85]:
vocab_frame = pd.DataFrame({'words': totalvocab_tokenized}, index = totalvocab_stemmed)

In [86]:
vocab_frame.head()

           words
term        term
for          for
ani          any
dessert  dessert
serv      served

In [113]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.externals import joblib

# tfidf_vectorizer = TfidfVectorizer(max_df=0.8, max_features=200000,
#                                  min_df=0.2, stop_words='english',
#                                  use_idf=True, tokenizer=tokenize_and_stem, ngram_range=(1,3))

tfidf_vectorizer = TfidfVectorizer(stop_words='english',
                                 tokenizer=tokenize_and_stem, ngram_range=(1,3))

# tfidf_vectorizer = TfidfVectorizer(stop_words='english',
#                                  tokenizer=tokenize_only, ngram_range=(1,3))

# %time tfidf_matrix = tfidf_vectorizer.fit_transform(questions)

tfidf_vectorizer.fit(questions)
joblib.dump(tfidf_vectorizer, 'tfidf_test.pkl')

# print(tfidf_matrix.shape)

['tfidf_test.pkl', 'tfidf_test.pkl_01.npy', 'tfidf_test.pkl_02.npy']

In [114]:
tfidf_vectorizer = joblib.load('tfidf_test.pkl')
tfidf_matrix = tfidf_vectorizer.transform(questions)

In [115]:
terms = tfidf_vectorizer.get_feature_names()

In [116]:
# from sklearn.metrics.pairwise import cosine_similarity
# dist = 1 - cosine_similarity(tfidf_matrix)

In [117]:
from sklearn.cluster import KMeans

num_clusters = 50

km = KMeans(n_clusters=num_clusters)

%time km.fit(tfidf_matrix)

clusters = km.labels_.tolist()

CPU times: user 3min 48s, sys: 12.5 s, total: 4min 1s
Wall time: 2min 10s

In [118]:
from sklearn.externals import joblib

joblib.dump(km,  'doc_cluster.pkl')
km = joblib.load('doc_cluster.pkl')
clusters = km.labels_.tolist()

In [119]:
len(clusters)

21692

In [120]:
df['Cluster'] = clusters

In [121]:
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,everything,Cluster
0,4764,2005-04-28,Double Jeopardy!,CIRCUS SLANG,2000.0,"Term for any dessert served in the cookhouse, ...",Abba Dabba,"term for any dessert served in the cookhouse, ...",abba dabba,"term for any dessert served in the cookhouse, ...",7
1,3272,1998-11-24,Double Jeopardy!,CLASSICAL MUSIC,800.0,"From 1933 to 1935, he served as president of G...",Richard Strauss,"from 1933 to 1935, he served as president of g...",richard strauss,"from 1933 to 1935, he served as president of g...",6
2,2987,1997-09-02,Double Jeopardy!,THAT'S RANK!,200.0,"As generals of the army, Dwight Eisenhower & O...",Five,"as generals of the army, dwight eisenhower & o...",five,"as generals of the army, dwight eisenhower & o...",26
3,2130,1993-12-03,Jeopardy!,SCIENCE,300.0,Scientist John Dalton suffered from the red-gr...,Colorblindness,scientist john dalton suffered from the red-gr...,colorblindness,scientist john dalton suffered from the red-gr...,5
4,5957,2010-07-06,Jeopardy!,RHYMES WITH SMART,400.0,"Small, slender missile thrown at a board in a ...",a dart,"small, slender missile thrown at a board in a ...",a dart,"small, slender missile thrown at a board in a ...",26

In [122]:
df['Cluster'].value_counts()

26    6796
24    1939
2      639
8      615
4      426
15     403
20     396
47     391
39     391
21     389
35     380
9      376
48     369
5      357
37     341
41     336
11     335
17     331
14     325
3      317
1      316
25     275
40     265
31     248
7      246
0      242
49     237
23     225
33     218
6      218
27     211
10     207
13     204
38     204
29     199
45     197
43     197
46     191
32     188
34     183
42     167
19     154
18     151
16     144
30     140
22     139
44     135
36     121
28     110
12     108
Name: Cluster, dtype: int64

In [123]:
from __future__ import print_function

print("Top terms per cluster:")
print()
order_centroids = km.cluster_centers_.argsort()[:, ::-1]
for i in range(num_clusters):
    print("Cluster %d words:" % i, end='')
    for ind in order_centroids[i, :20]:
        print(' %s' % vocab_frame.ix[terms[ind].split(' ')].values.tolist()[0][0].encode('utf-8', 'ignore'), end=',')
    print()
    print()
#     print("Cluster %d categories:" % i, end='')
#     for cat in df.ix[i]['Category']:#.values.tolist():
#         print(' %s,' % cat, end='')
    print()
    print()

Top terms per cluster:

Cluster 0 words: island, rhodes, rhodes, 's, miles, island, national, hawaii, 's, u.s., groups, south, pacific, island, largest, only, hawaiian, indonesia, straits, trinidad,



Cluster 1 words: word, mean, word, 's, latin, precede, greek, 3-letter, latin, greek, used, word, 3-letter, derived, 5-letter, 4-letter, 4-letter, used, comes, 's,



Cluster 2 words: n't, like, said, did, did, ca, ca, 's, does, does, man, wo, wo, know, make, sound, looked, sound, wants, stars,



Cluster 3 words: green, designates, north, went, carolina, stone, north, dark, officially, 's, mountain, emerald, colorful, south, olive, state, american, north, dress, south,



Cluster 4 words: u.s., war, civilization, president, civilization, u.s., during, battle, army, during, 's, u.s., served, u.s., country, only, government, constitutional, american, only,



Cluster 5 words: type, 's, 's, used, like, joint, 'cause, fruit, includes, type, lightly, main, energy, describes, describes, referred, buildings, main, type, type,



Cluster 6 words: music, angeles, los, 's, los, broadway, instrument, music, broadway, composer, songs, played, tony-winning, line, music, music, charlie, charlie, film, 's,



Cluster 7 words: term, person, 's, 's, 2-word, referred, 2-word, term, like, another, known, someone, 's, another, used, greek, sound, term, sound, endearment,



Cluster 8 words: played, film, 's, title, roles, man, stars, base, game, movie, won, oscars, john, william, tv, shakespeare, actor, opera, only, robert,



Cluster 9 words: formed, german, many, language, contained, high, 's, national, english, latin, officially, groups, officially, spoken, dialect, formed, known, blood, greek, language,



Cluster 10 words: good, paper, dad, let, 's, mom, toy, present, institute, 's, inside, 's, good, let, night, man, times, string, worked, any,



Cluster 11 words: animals, lives, street, 's, animals, night, wall, wall, cat, free, night, like, family, species, known, creatures, only, saturday, elephant, featured,



Cluster 12 words: ford, explorer, henry, henry, gerald, harrison, harrison, gerald, 's, car, dearborn, michigan, mustang, john, ford, john, francis, francis, ford, coppola,



Cluster 13 words: country, country, africa, south, 's, south, american, cape, continent, south, south, africa, american, national, country, 's, country, population, king, east,



Cluster 14 words: includes, best, 's, won, oscars, best, picture, film, winner, won, worked, best, worked, groups, actress, songs, city, actor, known, film,



Cluster 15 words: used, make, 's, used, 's, measure, devices, like, symbol, devices, water, known, small, game, seen, metal, dish, mean, varieties, weapon,



Cluster 16 words: california, sister, 's, city, california, san, california, university, brother, played, governor, nevada, monterey, state, sierra, mount, whitney, sierra, california, california,



Cluster 17 words: city, city, 's, new, orleans, new, city, city, mexico, mexico, st., san, museum, buildings, louisiana, chicago, famous, population, venice, site,



Cluster 18 words: bird, species, 's, bird, nest, owl, bird, penguins, cassowary, bird, state, seen, type, black, egg, prey, black, eagle, parrots, johnson,



Cluster 19 words: york, new, new, york, new, city, 's, new, york, times, city, team, senate, state, york, new, state, york, state, mayor,



Cluster 20 words: state, 's, state, united, new, united, u.s., alaska, florida, 's, president, secretary, new, secretary, jersey, union, mississippi, state, arizona, tree,



Cluster 21 words: year, 's, year, before, year, year, ago, every, new, times, every, new, won, new, year, year, year, man, u.s., hundred,



Cluster 22 words: sea, north, sea, level, red, mediterranean, north, ocean, baltic, sea, sea, 's, caribbean, caribbean, red, rivers, arm, black, creatures, sea,



Cluster 23 words: world, world, largest, 's, 's, world, city, world, largest, 's, new, series, country, state, new, usa, area, 's, world, 's,



Cluster 24 words: 's, title, man, books, king, songs, groups, only, worked, man, stars, president, author, line, 's, times, hit, love, say, woman,



Cluster 25 words: novel, james, 's, books, title, bond, author, publisher, james, james, film, joyce, wrote, john, 's, base, king, books, books, william,



Cluster 26 words: man, john, books, president, king, say, number, times, make, american, wrote, groups, george, love, stars, hit, born, became, body, title,



Cluster 27 words: thomas, france, america, jefferson, thomas, 's, president, thomas, america, mann, france, north, edison, thomas, dylan, wrote, clarence, north, dylan, italy,



Cluster 28 words: ii, world, war, world, war, world, elizabeth, king, during, during, elizabeth, john, paul, john, during, queen, pope, paul, john, queen,



Cluster 29 words: capital, city, capital, state, state, 's, european, world, 's, territory, world, city, asian, european, capital, asian, museum, south, new, capital,



Cluster 30 words: school, high, high, graduate, university, 's, colleges, law, student, yale, law, harvard, new, public, school, state, 's, school, public, prep,



Cluster 31 words: comes, word, 's, mean, comes, latin, comes, 's, comes, french, greek, comes, flavor, before, old, english, probably, type, comes, middle,



Cluster 32 words: little, 's, twinkle, little, big, mean, 's, women, wrote, little, little, stuart, stuart, twinkle, girl, little, little, alcott, stars, boys,



Cluster 33 words: clue, clue, crew, sarah, sarah, sarah, cheryl, cheryl, cheryl, kelly, kelly, kelly, monitor, 's, sofia, sofia, crew, clue, sofia, reports,



Cluster 34 words: character, title, title, played, 's, character, 's, movie, character, film, novel, tv, literary, seen, central, classic, literary, fictional, disney, hamlet,



Cluster 35 words: country, 's, india, china, african, spain, african, king, country, mexico, canada, germany, border, brazil, country, denmark, singer, australia, american, greece,



Cluster 36 words: lake, great, great, michigan, lake, erie, lake, 's, lake, lake, geneva, salted, largest, lake, salted, state, water, superior, swans, lady,



Cluster 37 words: days, known, 's, holiday, 's, celebrated, better, 's, better, observance, times, st., begins, saint, every, days, valentine, every, say, valentine,



Cluster 38 words: french, 's, old, french, french, french, indian, war, term, author, french, english, served, language, indian, old, known, officially, riviera, city,



Cluster 39 words: red, henry, got, death, liberty, june, virginia, 's, hills, patrick, viii, henry, 've, colorful, john, king, patrick, 've, william, man,



Cluster 40 words: home, things, 's, city, 's, home, city, n't, run, love, title, say, place, hit, only, people, way, pigeon, songs, way,



Cluster 41 words: house, robert, wife, lee, 's, 's, white, white, wrote, president, robert, committee, niro, speakers, man, robert, e., robert, e., leader,



Cluster 42 words: century, 19th, 19th, 20th, 20th, 18th, 18th, 17th, 17th, 16th, 16th, 13th, 14th, 13th, 's, 14th, worked, early, late, late,



Cluster 43 words: rivers, national, park, national, 's, city, mississippi, rhine, missouri, flow, potomac, ganges, tributaries, state, bridges, rising, nile, formed, rivers, st.,



Cluster 44 words: clue, clue, crew, jimmy, jimmy, jimmy, crew, clue, reports, cheryl, cheryl, cheryl, 's, kelly, kelly, monitor, kelly, jon, jon, 'm,



Cluster 45 words: 'm, place, hi, hi, 's, city, played, film, title, man, took, took, young, restless, looked, free, think, place, only, cana,



Cluster 46 words: company, company, 's, sell, electric, introduced, generals, tire, company, 's, power, began, goodyear, service, became, make, known, ballet, car, ballet,



Cluster 47 words: seen, 's, painted, type, logo, logo, man, worked, seen, artist, flower, photos, worked, man, film, stars, painted, video, stars, flower,



Cluster 48 words: mean, just, 's, adjective, adjective, like, 's, n't, latin, just, phrase, term, verb, phrase, before, used, verb, say, just, letters,



Cluster 49 words: later, age, featured, year, year, soap, radio, later, became, 's, peron, soap, died, opera, eva, died, began, u.s., argentina, teen,