In [1]:
import pandas as pd
import numpy as np
import nltk
import re

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('data/JEOPARDY_CSV.csv', encoding='utf-8')
full_df = pd.read_csv('data/JEOPARDY_CSV.csv', encoding='utf-8')
print full_df.shape
full_df.head()

(216930, 7)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [3]:
df = full_df.sample(frac=0.1)
df.reset_index(drop=True, inplace=True)

In [4]:
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,3965,2001-11-23,Jeopardy!,FILMS OF THE '70s,$100,"Cleavon Little plays Black Bart, the sheriff o...",Blazing Saddles
1,3279,1998-12-03,Jeopardy!,FABULOUS BAKER BOYS,$400,Trumpet-playing Baker seen here,Chet Baker
2,1871,1992-10-26,Double Jeopardy!,OLD MOVIES,$400,"Charley Grapewin who played Grandpa Joad in ""T...",The Wizard of Oz
3,3077,1998-01-06,Double Jeopardy!,COLORFUL WORDS & PHRASES,$600,"This colorful Jimi Hendrix classic ""experience...","""Purple Haze"""
4,4720,2005-02-25,Jeopardy!,FRUITS & VEGETABLES,$800,It's the leading agricultural product of the i...,bananas

In [5]:
# Remove the dumb spaces
df.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question', 'Answer']

# Convert to Datetime
df['Air Date'] = pd.to_datetime(df['Air Date'])

# Clean out Value column
df['Value'] = df['Value'].str.replace('$','')
df['Value'] = df['Value'].str.replace(',','')
df['Value'] = df['Value'].apply(lambda x: None if x == 'None' else int(x))
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,3965,2001-11-23,Jeopardy!,FILMS OF THE '70s,100.0,"Cleavon Little plays Black Bart, the sheriff o...",Blazing Saddles
1,3279,1998-12-03,Jeopardy!,FABULOUS BAKER BOYS,400.0,Trumpet-playing Baker seen here,Chet Baker
2,1871,1992-10-26,Double Jeopardy!,OLD MOVIES,400.0,"Charley Grapewin who played Grandpa Joad in ""T...",The Wizard of Oz
3,3077,1998-01-06,Double Jeopardy!,COLORFUL WORDS & PHRASES,600.0,"This colorful Jimi Hendrix classic ""experience...","""Purple Haze"""
4,4720,2005-02-25,Jeopardy!,FRUITS & VEGETABLES,800.0,It's the leading agricultural product of the i...,bananas

In [6]:
df['Question'].value_counts()[0:5]

[video clue]                                                 3
Charlie Parker                                               2
May 29, 1917 in Brookline, Massachusetts                     2
This language spoken in Reykjavik is also called Islenska    2
Bjork                                                        2
Name: Question, dtype: int64

In [7]:
df.shape

(21693, 7)

In [8]:
# Drop some useless questions
df = df[df['Question'] != '[audio clue]']
df = df[df['Question'] != '[video clue]']
df = df[df['Question'] != '[filler]']
df = df[df['Question'] != '(audio clue)']

In [9]:
df.shape

(21689, 7)

In [10]:
# load nltk's English stopwords as variable called 'stopwords'
stopwords = nltk.corpus.stopwords.words('english')
print len(stopwords)
print stopwords[:10]

153
[u'i', u'me', u'my', u'myself', u'we', u'our', u'ours', u'ourselves', u'you', u'your']

In [11]:
# load nltk's SnowballStemmer as variabled 'stemmer'
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")

In [12]:
# here I define a tokenizer and stemmer which returns the set of stems in the text that it is passed

def tokenize_and_stem(text):
    # first tokenize by sentence, then by word to ensure that punctuation is caught as it's own token
    tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # filter out any tokens not containing letters (e.g., numeric tokens, raw punctuation)
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    stems = [stemmer.stem(t) for t in filtered_tokens]
    return stems


def tokenize_only(text):
    # first tokenize by sentence, then by word to ensure that punctuation is caught as it's own token
    tokens = [word.lower() for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # filter out any tokens not containing letters (e.g., numeric tokens, raw punctuation)
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    return filtered_tokens

In [13]:
questions = df['Question'].values

In [14]:
#not super pythonic, no, not at all.
#use extend so it's a big flat list of vocab
totalvocab_stemmed = []
totalvocab_tokenized = []
for i in questions:
    allwords_stemmed = tokenize_and_stem(i) #for each item in 'synopses', tokenize/stem
    totalvocab_stemmed.extend(allwords_stemmed) #extend the 'totalvocab_stemmed' list
    
    allwords_tokenized = tokenize_only(i)
    totalvocab_tokenized.extend(allwords_tokenized)

In [15]:
vocab_frame = pd.DataFrame({'words': totalvocab_tokenized}, index = totalvocab_stemmed)

In [16]:
vocab_frame.head()

           words
cleavon  cleavon
littl     little
play       plays
black      black
bart        bart

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.externals import joblib

# tfidf_vectorizer = TfidfVectorizer(max_df=0.8, max_features=200000,
#                                  min_df=0.2, stop_words='english',
#                                  use_idf=True, tokenizer=tokenize_and_stem, ngram_range=(1,3))

tfidf_vectorizer = TfidfVectorizer(stop_words='english',
                                 tokenizer=tokenize_and_stem, ngram_range=(1,3))

# %time tfidf_matrix = tfidf_vectorizer.fit_transform(questions)

tfidf_vectorizer.fit(questions)
joblib.dump(tfidf_vectorizer, 'tfidf_test.pkl')

# print(tfidf_matrix.shape)

['tfidf_test.pkl', 'tfidf_test.pkl_01.npy', 'tfidf_test.pkl_02.npy']

In [20]:
tfidf_vectorizer = joblib.load('tfidf_test.pkl')
tfidf_matrix = tfidf_vectorizer.transform(questions)

In [21]:
terms = tfidf_vectorizer.get_feature_names()

In [22]:
# from sklearn.metrics.pairwise import cosine_similarity
# dist = 1 - cosine_similarity(tfidf_matrix)

In [24]:
from sklearn.cluster import KMeans

num_clusters = 50

km = KMeans(n_clusters=num_clusters)

%time km.fit(tfidf_matrix)

clusters = km.labels_.tolist()

CPU times: user 2min 48s, sys: 8.88 s, total: 2min 57s
Wall time: 1min 33s

In [25]:
from sklearn.externals import joblib

joblib.dump(km,  'doc_cluster.pkl')
km = joblib.load('doc_cluster.pkl')
clusters = km.labels_.tolist()

In [26]:
len(clusters)

21689

In [27]:
df['Cluster'] = clusters

In [28]:
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,Cluster
0,3965,2001-11-23,Jeopardy!,FILMS OF THE '70s,100.0,"Cleavon Little plays Black Bart, the sheriff o...",Blazing Saddles,21
1,3279,1998-12-03,Jeopardy!,FABULOUS BAKER BOYS,400.0,Trumpet-playing Baker seen here,Chet Baker,32
2,1871,1992-10-26,Double Jeopardy!,OLD MOVIES,400.0,"Charley Grapewin who played Grandpa Joad in ""T...",The Wizard of Oz,21
3,3077,1998-01-06,Double Jeopardy!,COLORFUL WORDS & PHRASES,600.0,"This colorful Jimi Hendrix classic ""experience...","""Purple Haze""",32
4,4720,2005-02-25,Jeopardy!,FRUITS & VEGETABLES,800.0,It's the leading agricultural product of the i...,bananas,22

In [29]:
df['Cluster'].value_counts()

32    6329
36    1833
0     1197
7      564
21     536
1      477
2      433
12     431
10     420
16     417
45     386
18     383
30     347
27     344
38     344
22     341
49     332
35     315
6      311
39     296
20     271
44     258
42     258
46     256
41     244
9      241
4      240
8      240
31     236
28     233
47     225
33     220
26     220
11     211
19     211
3      211
14     204
23     202
5      200
43     163
25     137
29     131
48     120
37     119
40     118
17     109
24     106
13      98
15      88
34      83
Name: Cluster, dtype: int64

In [30]:
from __future__ import print_function

print("Top terms per cluster:")
print()
order_centroids = km.cluster_centers_.argsort()[:, ::-1]
for i in range(num_clusters):
    print("Cluster %d words:" % i, end='')
    for ind in order_centroids[i, :6]:
        print(' %s' % vocab_frame.ix[terms[ind].split(' ')].values.tolist()[0][0].encode('utf-8', 'ignore'), end=',')
    print()
    print()
    print("Cluster %d categories:" % i, end='')
    for cat in df.ix[i]['Category']:#.values.tolist():
        print(' %s,' % cat, end='')
    print()
    print()

Top terms per cluster:

Cluster 0 words: games, originally, created, gods, host, produced,

Cluster 0 categories: F, I, L, M, S,  , O, F,  , T, H, E,  , ', 7, 0, s,

Cluster 1 words: including, work, authors, 's, authors, novel,

Cluster 1 categories: F, A, B, U, L, O, U, S,  , B, A, K, E, R,  , B, O, Y, S,

Cluster 2 words: became, house, white, marry, march, daughter,

Cluster 2 categories: O, L, D,  , M, O, V, I, E, S,

Cluster 3 words: song, general, hit, 's, hit, sings,

Cluster 3 categories: C, O, L, O, R, F, U, L,  , W, O, R, D, S,  , &,  , P, H, R, A, S, E, S,

Cluster 4 words: world, world, 's, world, war, world,

Cluster 4 categories: F, R, U, I, T, S,  , &,  , V, E, G, E, T, A, B, L, E, S,

Cluster 5 words: mark, middle, real, twain, 's, mark,

Cluster 5 categories: S, H, O, R, T,  , S, T, O, R, I, E, S,

Cluster 6 words: like, sound, sound, 's, type, 's,

Cluster 6 categories: P, R, E, S, I, D, E, N, T, S,  , &,  , B, A, S, E, B, A, L, L,

Cluster 7 words: href=, http, href=, /a, target=, target=,

Cluster 7 categories: W, O, M, E, N,  , S, A, I, N, T, S,

Cluster 8 words: life, live, man, 's, man, want,

Cluster 8 categories: W, I, N, T, E, R,  , S, P, O, R, T, S,  , R, E, V, I, E, W,

Cluster 9 words: means, verb, adjective, adjective, verb, 's,

Cluster 9 categories: C, A, R, S,

Cluster 10 words: used, type, 's, used, make, 's,

Cluster 10 categories: M, A, T, E, R, I, A, L, S,

Cluster 11 words: did, john, did, n't, did, n't,

Cluster 11 categories: T, H, E, A, T, R, E,  , C, R, O, S, S, W, O, R, D,  , C, L, U, E, S,  , ", M, ",

Cluster 12 words: n't, before, ca, ca, does, does,

Cluster 12 categories: D, A, T, E,  , N, I, G, H, T,

Cluster 13 words: mother, emmy, 's, 's, won, won,

Cluster 13 categories: B, R, I, T, I, S, H,  , H, I, S, T, O, R, Y,

Cluster 14 words: time, 's, 's, magazine, time, good,

Cluster 14 categories: D, O, N, ', T,  , B, E,  , S, U, C, H,  , A,  , H, E, D, G, E, H, O, G,

Cluster 15 words: version, games, 's, 's, film, version,

Cluster 15 categories: W, H, E, R, E,  , A, R, E,  , W, E, ?,

Cluster 16 words: city, city, 's, home, museum, largest,

Cluster 16 categories: U, ., S, .,  , P, O, R, T,  , C, I, T, I, E, S,

Cluster 17 words: country, country, 's, country, country, island,

Cluster 17 categories: W, H, A, T, ', S,  , U, P, ,,  , D, U, C, K, ?,

Cluster 18 words: state, 's, state, u.s., 's, u.s.,

Cluster 18 categories: H, E, A, V, Y,  , M, E, T, A, L, L, U, R, G, Y,

Cluster 19 words: king, 's, king, son, succeeded, 's,

Cluster 19 categories: T, V,  , C, I, T, Y,  , S, E, T, T, I, N, G, S,

Cluster 20 words: capital, 's, city, 's, capital, state,

Cluster 20 categories: T, H, E,  , B, I, G,  , B, A, N, G, L, A, D, E, S, H,

Cluster 21 words: plays, film, 's, tv, games, 's,

Cluster 21 categories: A, T,  , T, H, E,  , P, H, A, R, M, A, C, Y,

Cluster 22 words: island, french, language, 's, nation, official,

Cluster 22 categories: I, N, D, E, P, E, N, D, E, N, C, E, !,

Cluster 23 words: seen, seen, seen, _blank, target=, /a,

Cluster 23 categories: ", I, ",  , P, O, D,

Cluster 24 words: best, best, best, oscar, 's, picture,

Cluster 24 categories: C, H, I, N, A,  , &,  , I, N, D, I, A,

Cluster 25 words: bodies, bodies, water, 's, 's, heaven,

Cluster 25 categories: E, U, R, O, P, E, A, N,  , A, R, T,

Cluster 26 words: river, 's, flow, river, border, river,

Cluster 26 categories: T, H, E,  , Y, E, A, R,  , O, F,  , T, H, E,  , H, E, A, D, L, I, N, E,

Cluster 27 words: company, years, company, 's, years, ago,

Cluster 27 categories: T, E, E, N, S,  , I, N,  , L, I, T, E, R, A, T, U, R, E,

Cluster 28 words: wrote, 's, poet, book, novel, poem,

Cluster 28 categories: F, U, R, N, I, T, U, R, E,

Cluster 29 words: teams, baseball, baseball, 's, teams, sport,

Cluster 29 categories: S, I, L, E, N, T,  , ", G, ",

Cluster 30 words: word, means, word, comes, 's, 's,

Cluster 30 categories: C, R, O, S, S, W, O, R, D,  , C, L, U, E, S,  , ", L, ",

Cluster 31 words: clue, clue, crew, /a, href=, http,

Cluster 31 categories: E, C, O, N, O, M, I, S, T,  , D, A, N, C, E,  , P, A, R, T, Y,

Cluster 32 words: type, known, seen, u.s., make, group,

Cluster 32 categories: R, E, S, C, U, E,  , M, E, !,

Cluster 33 words: presidents, vice, vice, u.s., u.s., presidents,

Cluster 33 categories: N, A, T, I, O, N, A, L, I, T, Y, ,,  , P, L, E, A, S, E,

Cluster 34 words: only, 's, 's, only, bible, state,

Cluster 34 categories: H, A, R, L, E, Q, U, I, N,  , &,  , C, O, L, U, M, B, I, N, E,

Cluster 35 words: film, starred, 's, based, film, directed,

Cluster 35 categories: T, H, E,  , V, I, R, G, I, N, I, A, N,

Cluster 36 words: 's, seen, tv, type, known, book,

Cluster 36 categories: F, I, R, S, T,  , A, I, D,

Cluster 37 words: number, 's, 's, total, total, atomic,

Cluster 37 categories: E, D,  , T, V,

Cluster 38 words: american, sea, south, south, north, 's,

Cluster 38 categories: P, O, P,  , M, U, S, I, C,  , R, H, Y, M, E,  , T, I, M, E,

Cluster 39 words: woman, court, school, supreme, texas, supreme,

Cluster 39 categories: A, M, E, R, I, C, A, N,  , G, O, V, E, R, N, M, E, N, T,

Cluster 40 words: york, new, new, new, york, city,

Cluster 40 categories: U, ., S, .,  , P, R, E, S, I, D, E, N, T, S,

Cluster 41 words: people, caused, common, disease, 's, people,

Cluster 41 categories: R, E, L, I, G, I, O, N,

Cluster 42 words: term, 2-word, 2-word, 's, coined, 's,

Cluster 42 categories: I, N,  , T, H, E,  , D, I, C, T, I, O, N, A, R, Y,

Cluster 43 words: areas, union, statue, square, nyc, 's,

Cluster 43 categories: M, A, R, T, I, N,  , L, U, T, H, E, R,  , K, I, N, G,

Cluster 44 words: man, 's, man, planned, became, famous,

Cluster 44 categories: C, R, O, S, S, W, O, R, D,  , C, L, U, E, S,  , ", K, ",

Cluster 45 words: country, 's, africa, independence, central, african,

Cluster 45 categories: O, R, G, A, N, I, Z, A, T, I, O, N, S,  , F, O, R,  , S, H, O, R, T,

Cluster 46 words: day, 's, 's, celebration, years, holiday,

Cluster 46 categories: W, H, E, R, E, ', S,  , T, H, E,  , F, I, R, E, ?,

Cluster 47 words: saying, 's, saying, n't, love, man,

Cluster 47 categories: I, N,  , T, H, E,  , D, I, C, T, I, O, N, A, R, Y,

Cluster 48 words: head, 's, 's, shaving, head, welsh,

Cluster 48 categories: M, U, S, I, C, A, L,  , I, N, S, T, R, U, M, E, N, T, S,

Cluster 49 words: title, title, character, 's, novel, 's,

Cluster 49 categories: G, E, O, G, R, A, P, H, I, C,  , ", S, A, I, N, T, ", s,