# Not going to end up needing this, my EDA and such for Part 2 is in the data_exploring.ipynb file

In [1]:
import numpy as np
import pandas as pd
import json

In [8]:
df = pd.read_table('http://www.j-archive.com/showgame.php?game_id=5458', header=None)

In [9]:
df

                                                      0
0     <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//...
1     <html xmlns="http://www.w3.org/1999/xhtml" xml...
2                                                <head>
3     <title>J! Archive - Show #7402, aired 2016-11-...
4     <link type="text/css" rel="styleSheet" href="h...
5     <link rel="shortcut icon" href="http://www.j-a...
6                                               </head>
7                                                <body>
8                                     <div id="navbar">
9       <span id="navbarlogo"><a href="http://www.j-...
10      <span id="navbartext"><a href="http://www.j-...
11      <form id="navbarsearch" action="http://www.j...
12                          <fieldset class="noborder">
13          <input type="text" class="search" name="...
14          <input type="submit" class="search_butto...
15                                          </fieldset>
16                                              </form>
17                                               </div>
18                                   <div id="content">
19                <div id="game_title"><h1>Show #740...
20                <div id="game_comments">2014 Teen ...
21    From DAR Constitution Hall in Washington, D.C....
22                               <div id="contestants">
23                                 <h2>Contestants</h2>
24                   <table id="contestants_table"><tr>
25                    <td align="left" valign="middl...
26                      <a href="showgame.php?game_i...
27                                                </td>
28                                                 <td>
29                      <p class="contestants"><a hr...
...                                                 ...
1439                    <td class="score_positive">$...
1440                    <td class="score_positive">$...
1441                    <td class="score_positive">$...
1442                                              </tr>
1443                                               <tr>
1444                    <td class="score_remarks">24...
1445                    <td class="score_remarks">21...
1446                    <td class="score_remarks">6 ...
1447                                              </tr>
1448                                           </table>
1449                <h3><a href="http://www.j-archiv...
1450                <h4><a href="showgameresponses.p...
1451                                             </div>
1452                    <script type="text/javascript">
1453                                               <!--
1454              function toggle(element, stuck, st...
1455                if (document.getElementById(stuc...
1456                  document.getElementById(elemen...
1457                                                  }
1458                      function togglestick(stuck) {
1459                document.getElementById(stuck).s...
1460                                                  }
1461                                                -->
1462                                          </script>
1463                                             </div>
1464  <div id="disclaimer">The J! Archive is created...
1465  <script src="http://www.google-analytics.com/u...
1466  <script src="http://www.j-archive.com/scripts....
1467                                            </body>
1468                                            </html>

[1469 rows x 1 columns]

In [23]:
df[0][83]

'      <div onmouseover="toggle(\'clue_J_1_1\', \'clue_J_1_1_stuck\', \'&lt;em class=&quot;correct_response&quot;&gt;a pediatrician&lt;/em&gt;&lt;br /&gt;&lt;br /&gt;&lt;table width=&quot;100%&quot;&gt;&lt;tr&gt;&lt;td class=&quot;right&quot;&gt;Sharath&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;\')" onmouseout="toggle(\'clue_J_1_1\', \'clue_J_1_1_stuck\', \'This doctor specializes in children &amp; their diseases\')" onclick="togglestick(\'clue_J_1_1_stuck\')">'

In [11]:
df = pd.DataFrame(test)

In [5]:
df.head()

,airdate,answer,category,category_id,created_at,game_id,id,invalid_count,question,updated_at,value
0,2012-04-10T12:00:00.000Z,grenadine,"{u'updated_at': u'2014-02-14T02:40:59.032Z', u...",15039,2014-02-14T02:40:59.492Z,None,110806,None,"Any cowboy knows a Roy Rogers requires me, thi...",2014-02-14T02:40:59.492Z,600

In [6]:
df['category'][0]

{'clues_count': 10,
 'created_at': '2014-02-14T02:40:59.032Z',
 'id': 15039,
 'title': 'put me in',
 'updated_at': '2014-02-14T02:40:59.032Z'}

In [7]:
df['question'][0]

'Any cowboy knows a Roy Rogers requires me, this pomegranate-flavored syrup'

In [8]:
df2 = pd.read_csv('data/JEOPARDY_CSV.csv')

In [9]:
df2.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [14]:
pd.read_json('data/test.json')

,airdate,answer,category,category_id,created_at,game_id,id,invalid_count,question,updated_at,value
0,1985-02-08T12:00:00.000Z,Election Day,"{u'updated_at': u'2014-02-11T22:47:18.687Z', u...",1,2014-02-11 22:47:18.786,NaN,1,NaN,1st Tuesday after the 1st Monday in November,2014-02-11 22:47:18.786,100.0
1,1985-02-08T12:00:00.000Z,the Western division,"{u'updated_at': u'2014-02-11T22:47:18.706Z', u...",2,2014-02-11 22:47:18.829,NaN,2,NaN,The Atlanta Braves are in this division of the...,2014-02-11 22:47:18.829,100.0
2,1985-02-08T12:00:00.000Z,sold flowers (flower girl accepted),"{u'updated_at': u'2014-02-11T22:47:18.718Z', u...",3,2014-02-11 22:47:18.841,NaN,3,NaN,Eliza Doolittle did it for a living,2014-02-11 22:47:18.841,100.0
3,1985-02-08T12:00:00.000Z,<i>Star Trek III</i>,"{u'updated_at': u'2014-02-11T22:47:18.728Z', u...",4,2014-02-11 22:47:18.854,NaN,4,NaN,"Subtitled ""The Search for Spock""",2014-02-11 22:47:18.854,100.0
4,1985-02-08T12:00:00.000Z,(1 of) kangaroo and emu,"{u'updated_at': u'2014-02-11T22:47:18.740Z', u...",5,2014-02-11 22:47:18.867,NaN,5,NaN,1 of 2 animals on its coat of arms,2014-02-11 22:47:18.867,100.0
5,1985-02-08T12:00:00.000Z,cat people,"{u'updated_at': u'2014-02-11T22:47:18.750Z', u...",6,2014-02-11 22:47:18.878,NaN,6,NaN,"Malcolm McDowell & Nastassja Kinski's ""purr""fe...",2014-02-11 22:47:18.878,100.0
6,1985-02-08T12:00:00.000Z,Maine,"{u'updated_at': u'2014-02-11T22:47:18.687Z', u...",1,2014-02-11 22:47:18.889,NaN,7,NaN,"Traditionally speaking, as this state goes, ""s...",2014-02-11 22:47:18.889,200.0
7,1985-02-08T12:00:00.000Z,a midget,"{u'updated_at': u'2014-02-11T22:47:18.706Z', u...",2,2014-02-11 22:47:18.901,NaN,8,NaN,"Eddie Gaedel, number 1/8th, was the only one e...",2014-02-11 22:47:18.901,200.0
8,1985-02-08T12:00:00.000Z,wranglers,"{u'updated_at': u'2014-02-11T22:47:18.718Z', u...",3,2014-02-11 22:47:18.912,NaN,9,NaN,"In the Old West they were in charge of horses,...",2014-02-11 22:47:18.912,200.0
9,1985-02-08T12:00:00.000Z,<i>Risky Business</i>,"{u'updated_at': u'2014-02-11T22:47:18.728Z', u...",4,2014-02-11 22:47:18.923,NaN,10,NaN,Title describing Tom Cruise's precarious comme...,2014-02-11 22:47:18.923,200.0
10,1985-02-08T12:00:00.000Z,"""Waltzing Matilda""","{u'updated_at': u'2014-02-11T22:47:18.740Z', u...",5,2014-02-11 22:47:18.934,NaN,11,NaN,"Title of this song, which actually means ""to t...",2014-02-11 22:47:18.934,NaN
11,1985-02-08T12:00:00.000Z,a catapult,"{u'updated_at': u'2014-02-11T22:47:18.750Z', u...",6,2014-02-11 22:47:18.947,NaN,12,NaN,Ancient weapon kept a stone's throw from its t...,2014-02-11 22:47:18.947,200.0
12,1985-02-08T12:00:00.000Z,a whistle stop,"{u'updated_at': u'2014-02-11T22:47:18.687Z', u...",1,2014-02-11 22:47:18.959,NaN,13,NaN,"""Shrill"" name for train tour electioneering",2014-02-11 22:47:18.959,300.0
13,1985-02-08T12:00:00.000Z,Don Larsen,"{u'updated_at': u'2014-02-11T22:47:18.706Z', u...",2,2014-02-11 22:47:18.970,NaN,14,NaN,"Now a paper company sales rep, he pitched only...",2014-02-11 22:47:18.970,300.0
14,1985-02-08T12:00:00.000Z,a bailiff,"{u'updated_at': u'2014-02-11T22:47:18.718Z', u...",3,2014-02-11 22:47:18.981,NaN,15,NaN,"He solemnly swears you in, in court",2014-02-11 22:47:18.981,300.0
15,1985-02-08T12:00:00.000Z,<i>All of Me</i>,"{u'updated_at': u'2014-02-11T22:47:18.728Z', u...",4,2014-02-11 22:47:18.993,NaN,16,NaN,Film where Lily Tomlin is really Steve Martin'...,2014-02-11 22:47:18.993,300.0
16,1985-02-08T12:00:00.000Z,Tasmanian devil,"{u'updated_at': u'2014-02-11T22:47:18.740Z', u...",5,2014-02-11 22:47:19.004,NaN,17,NaN,"""Satanic"" mammal found only on island S. of Au...",2014-02-11 22:47:19.004,300.0
17,1985-02-08T12:00:00.000Z,a catalyst,"{u'updated_at': u'2014-02-11T22:47:18.750Z', u...",6,2014-02-11 22:47:19.015,NaN,18,NaN,It gets things going in a chemical reaction,2014-02-11 22:47:19.015,300.0
18,1985-02-08T12:00:00.000Z,the Democrats,"{u'updated_at': u'2014-02-11T22:47:18.687Z', u...",1,2014-02-11 22:47:19.026,NaN,19,NaN,The rooster was symbol of this party before Th...,2014-02-11 22:47:19.026,400.0
19,1985-02-08T12:00:00.000Z,Fenway Park,"{u'updated_at': u'2014-02-11T22:47:18.706Z', u...",2,2014-02-11 22:47:19.037,NaN,20,NaN,"Boston's ""Green Monster"" is in this stadium",2014-02-11 22:47:19.037,400.0
20,1985-02-08T12:00:00.000Z,cartoonists (or animators),"{u'updated_at': u'2014-02-11T22:47:18.718Z', u...",3,2014-02-11 22:47:19.049,NaN,21,NaN,"Ub Iwerks, Friz Freleng & Tex Avery drew the l...",2014-02-11 22:47:19.049,400.0
21,1985-02-08T12:00:00.000Z,<i>Amadeus</i>,"{u'updated_at': u'2014-02-11T22:47:18.728Z', u...",4,2014-02-11 22:47:19.061,NaN,22,NaN,Mozart's middle name becomes a movie,2014-02-11 22:47:19.061,400.0
22,1985-02-08T12:00:00.000Z,Maggie the Cat,"{u'updated_at': u'2014-02-11T22:47:18.750Z', u...",6,2014-02-11 22:47:19.084,NaN,24,NaN,Elizabeth Taylor character that could have bur...,2014-02-11 22:47:19.084,400.0
23,1985-02-08T12:00:00.000Z,Harry S. Truman,"{u'updated_at': u'2014-02-11T22:47:18.687Z', u...",1,2014-02-11 22:47:19.095,NaN,25,NaN,"He called himself ""the plain people's pres. ag...",2014-02-11 22:47:19.095,500.0
24,1985-02-08T12:00:00.000Z,Sparky Anderson,"{u'updated_at': u'2014-02-11T22:47:18.706Z', u...",2,2014-02-11 22:47:19.107,NaN,26,NaN,"In '84, he became 1st manager to win over 100 ...",2014-02-11 22:47:19.107,500.0
25,1985-02-08T12:00:00.000Z,Sparky Anderson,"{u'updated_at': u'2014-02-11T22:47:18.718Z', u...",3,2014-02-11 22:47:19.118,NaN,27,NaN,,2014-02-11 22:47:19.118,NaN
26,1985-02-08T12:00:00.000Z,Sparky Anderson,"{u'updated_at': u'2014-02-11T22:47:18.728Z', u...",4,2014-02-11 22:47:19.129,NaN,28,NaN,,2014-02-11 22:47:19.129,NaN
27,1985-02-08T12:00:00.000Z,Sparky Anderson,"{u'updated_at': u'2014-02-11T22:47:18.740Z', u...",5,2014-02-11 22:47:19.140,NaN,29,NaN,,2014-02-11 22:47:19.140,NaN
28,1985-02-08T12:00:00.000Z,a CAT scan,"{u'updated_at': u'2014-02-11T22:47:18.750Z', u...",6,2014-02-11 22:47:19.151,NaN,30,NaN,"During one in a hospital, your brain should th...",2014-02-11 22:47:19.151,500.0
29,1984-12-14T12:00:00.000Z,Anchorage,"{u'updated_at': u'2014-02-11T22:47:19.485Z', u...",7,2014-02-11 22:47:19.557,NaN,31,NaN,Alaskan city renamed this because ships docked...,2014-02-11 22:47:19.557,100.0
...,...,...,...,...,...,...,...,...,...,...,...
70,1984-12-12T12:00:00.000Z,hard-boiled,"{u'updated_at': u'2014-02-11T22:47:20.340Z', u...",18,2014-02-11 22:47:20.517,NaN,72,NaN,"Descriptive of Mike Hammer, Private Eye, or a ...",2014-02-11 22:47:20.517,200.0
71,1984-12-12T12:00:00.000Z,a paper clip,"{u'updated_at': u'2014-02-11T22:47:20.279Z', u...",13,2014-02-11 22:47:20.528,NaN,73,NaN,1899 device for attaching papers that can ruin...,2014-02-11 22:47:20.528,300.0
72,1984-12-12T12:00:00.000Z,the Bronze Age,"{u'updated_at': u'2014-02-11T22:47:20.291Z', u...",14,2014-02-11 22:47:20.540,NaN,74,NaN,Followed the Stone Age; named for copper alloy...,2014-02-11 22:47:20.540,300.0
73,1984-12-12T12:00:00.000Z,"Natalie Wood, James Dean, and Sal Mineo","{u'updated_at': u'2014-02-11T22:47:20.302Z', u...",15,2014-02-11 22:47:20.551,NaN,75,NaN,"The 3 stars of ""Rebel Without a Cause"" who met...",2014-02-11 22:47:20.551,NaN
74,1984-12-12T12:00:00.000Z,Bavarian Motor Works,"{u'updated_at': u'2014-02-11T22:47:20.318Z', u...",16,2014-02-11 22:47:20.562,NaN,76,NaN,What BMW stands for,2014-02-11 22:47:20.562,300.0
75,1984-12-12T12:00:00.000Z,Arizona,"{u'updated_at': u'2014-02-11T22:47:20.329Z', u...",17,2014-02-11 22:47:20.573,NaN,77,NaN,"Only U.S. state with a ""Z"" in its name",2014-02-11 22:47:20.573,300.0
76,1984-12-12T12:00:00.000Z,hard of hearing,"{u'updated_at': u'2014-02-11T22:47:20.340Z', u...",18,2014-02-11 22:47:20.584,NaN,78,NaN,Reason people used to stick a trumpet in their...,2014-02-11 22:47:20.584,300.0
77,1984-12-12T12:00:00.000Z,Archimedes,"{u'updated_at': u'2014-02-11T22:47:20.279Z', u...",13,2014-02-11 22:47:20.595,NaN,79,NaN,"After inventing the lever & pulley, this Greek...",2014-02-11 22:47:20.595,400.0
78,1984-12-12T12:00:00.000Z,painting,"{u'updated_at': u'2014-02-11T22:47:20.291Z', u...",14,2014-02-11 22:47:20.607,NaN,80,NaN,The Chinese once regarded calligraphy as a bra...,2014-02-11 22:47:20.607,400.0
79,1984-12-12T12:00:00.000Z,Elizabeth Taylor,"{u'updated_at': u'2014-02-11T22:47:20.302Z', u...",15,2014-02-11 22:47:20.618,NaN,81,NaN,"In her 1st film she sang with ""Alfalfa"" Switze...",2014-02-11 22:47:20.618,400.0
80,1984-12-12T12:00:00.000Z,Vermont,"{u'updated_at': u'2014-02-11T22:47:20.329Z', u...",17,2014-02-11 22:47:20.642,NaN,83,NaN,The New England state without an Atlantic Ocea...,2014-02-11 22:47:20.642,400.0
81,1984-12-12T12:00:00.000Z,Hardcastle,"{u'updated_at': u'2014-02-11T22:47:20.340Z', u...",18,2014-02-11 22:47:20.653,NaN,84,NaN,TV role Brian Keith judged OK to play,2014-02-11 22:47:20.653,400.0
82,1984-12-12T12:00:00.000Z,a submarine,"{u'updated_at': u'2014-02-11T22:47:20.279Z', u...",13,2014-02-11 22:47:20.664,NaN,85,NaN,"1st one to attempt sinking a warship was the ""...",2014-02-11 22:47:20.664,500.0
83,1984-12-12T12:00:00.000Z,the Phoenicians,"{u'updated_at': u'2014-02-11T22:47:20.291Z', u...",14,2014-02-11 22:47:20.675,NaN,86,NaN,Civilization of sailors that developed 1st Wes...,2014-02-11 22:47:20.675,500.0
84,1984-12-12T12:00:00.000Z,John Wayne,"{u'updated_at': u'2014-02-11T22:47:20.302Z', u...",15,2014-02-11 22:47:20.687,NaN,87,NaN,"Oliver Hardy's co-star in ""The Fighting Kentuc...",2014-02-11 22:47:20.687,500.0
85,1984-12-12T12:00:00.000Z,John Wayne,"{u'updated_at': u'2014-02-11T22:47:20.318Z', u...",16,2014-02-11 22:47:20.699,NaN,88,NaN,,2014-02-11 22:47:20.699,NaN
86,1984-12-12T12:00:00.000Z,South Carolina,"{u'updated_at': u'2014-02-11T22:47:20.329Z', u...",17,2014-02-11 22:47:20.711,NaN,89,NaN,"8th state of the Union, it was the 1st state t...",2014-02-11 22:47:20.711,500.0
87,1984-12-12T12:00:00.000Z,<i>A Hard Day\'s Night</i>,"{u'updated_at': u'2014-02-11T22:47:20.340Z', u...",18,2014-02-11 22:47:20.723,NaN,90,NaN,"Album & film featuring ""Tell Me Why"" & ""You Ca...",2014-02-11 22:47:20.723,500.0
88,1984-12-11T12:00:00.000Z,The Pentagon,"{u'updated_at': u'2014-02-11T22:47:21.043Z', u...",19,2014-02-11 22:47:21.111,NaN,91,NaN,"World's largest office building, named for its...",2014-02-11 22:47:21.111,100.0
89,1984-12-11T12:00:00.000Z,Richard Pryor,"{u'updated_at': u'2014-02-11T22:47:21.054Z', u...",20,2014-02-11 22:47:21.122,NaN,92,NaN,"Comic whose ""Trial by Fire"" fueled his comedy ...",2014-02-11 22:47:21.122,100.0
90,1984-12-11T12:00:00.000Z,a fox,"{u'updated_at': u'2014-02-11T22:47:21.065Z', u...",21,2014-02-11 22:47:21.133,NaN,93,NaN,"""Sly"" creature sought by sportsmen riding to h...",2014-02-11 22:47:21.133,100.0
91,1984-12-11T12:00:00.000Z,a fox,"{u'updated_at': u'2014-02-11T22:47:21.076Z', u...",22,2014-02-11 22:47:21.144,NaN,94,NaN,,2014-02-11 22:47:21.144,NaN
92,1984-12-11T12:00:00.000Z,Victoria Cross,"{u'updated_at': u'2014-02-11T22:47:21.086Z', u...",23,2014-02-11 22:47:21.156,NaN,95,NaN,British decoration named for former queen,2014-02-11 22:47:21.156,100.0
93,1984-12-11T12:00:00.000Z,pool,"{u'updated_at': u'2014-02-11T22:47:21.096Z', u...",24,2014-02-11 22:47:21.168,NaN,96,NaN,"What Paul Newman's ""Hustler"" hustled",2014-02-11 22:47:21.168,100.0
94,1984-12-11T12:00:00.000Z,the Sphinx,"{u'updated_at': u'2014-02-11T22:47:21.043Z', u...",19,2014-02-11 22:47:21.181,NaN,97,NaN,"De""faced"" by sand & invading armies, it crouch...",2014-02-11 22:47:21.181,200.0
95,1984-12-11T12:00:00.000Z,Jack Benny,"{u'updated_at': u'2014-02-11T22:47:21.054Z', u...",20,2014-02-11 22:47:21.195,NaN,98,NaN,"Master of the pause followed by ""Now cut that ...",2014-02-11 22:47:21.195,200.0
96,1984-12-11T12:00:00.000Z,a camel,"{u'updated_at': u'2014-02-11T22:47:21.065Z', u...",21,2014-02-11 22:47:21.207,NaN,99,NaN,"The ""ship of the desert""",2014-02-11 22:47:21.207,200.0
97,1984-12-11T12:00:00.000Z,a camel,"{u'updated_at': u'2014-02-11T22:47:21.076Z', u...",22,2014-02-11 22:47:21.220,NaN,100,NaN,,2014-02-11 22:47:21.220,NaN
98,1984-12-11T12:00:00.000Z,the Purple Heart,"{u'updated_at': u'2014-02-11T22:47:21.086Z', u...",23,2014-02-11 22:47:21.232,NaN,101,NaN,Since '32 the U.S. Badge of Military Merit has...,2014-02-11 22:47:21.232,200.0
99,1984-12-11T12:00:00.000Z,<i>Dr. Strangelove</i>,"{u'updated_at': u'2014-02-11T22:47:21.096Z', u...",24,2014-02-11 22:47:21.244,NaN,102,NaN,"Subtitled ""How I Learned to Stop Worrying & Lo...",2014-02-11 22:47:21.244,200.0

In [15]:
df2 = pd.read_csv('data/adjusted-all-winnings.csv')

In [16]:
df2.head()

,Rk,Name,Total Adj,First 5 Total Adj,Type,Wins,Regular Adj,First 5 Adj,TOC Adj,Other,"TOC, finish"
0,NaN,"Brad Rutter<span style=""display: none;"">5+ old...","4,475,204","4,475,204",Regular,5.0,"110,204","110,204","250,000","4,115,000","2001, winner<span style=""display: none;"">allTO..."
1,NaN,"Ken Jennings<span style=""display: none;"">newva...","3,120,700","756,000",Regular,74.0,"2,520,700","156,000",NaN,"600,000","<span style=""display: none;"">noTOC BOTD UTOC</..."
2,NaN,"Jerome Vered<span style=""display: none;"">5+ ol...","638,403","638,403",Regular,5.0,"193,602","193,602","50,000","394,801","1992, third<span style=""display: none;"">allTOC..."
3,NaN,"Bob Verini<span style=""display: none;"">5+ oldv...","523,604","523,604",Regular,5.0,"93,604","93,604","250,000","180,000","1987, winner<span style=""display: none;"">allTO..."
4,NaN,"Roger Craig<span style=""display: none;"">newval...","530,200","495,801",Regular,6.0,"230,200","195,801","250,000","50,000","2011, winner<span style=""display: none;"">allTO..."

In [17]:
df2['Name'][0]

'Brad Rutter<span style="display: none;">5+ oldval</span>'

In [18]:
df2['TOC, finish'][0]

'2001, winner<span style="display: none;">allTOC SF+ finalist BOTD MDM UTOC</span>'