In [1]:
import pandas as pd
import numpy as np
import nltk
import re
import string

import matplotlib.pyplot as plt
%matplotlib inline

### For some reason, there are broken table tags in a lot of the tables below when they're rendered on Github. They don't actually look like that

In [2]:
# df = pd.read_csv('data/JEOPARDY_CSV.csv', encoding='utf-8')
full_df = pd.read_csv('../data/JEOPARDY_CSV.csv', encoding='utf-8')
print full_df.shape
full_df.head()

(216930, 7)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [3]:
df = full_df.sample(frac=0.1)
df.reset_index(drop=True, inplace=True)

In [4]:
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,3913,2001-09-12,Jeopardy!,DICK & JANE & SPOT HODGEPODGE,$200,"See Spot. See Spot sub for Eddie, played by Mo...",Frasier
1,3198,1998-06-24,Double Jeopardy!,LEAP DAY IN SPORTS,$1000,"On Feb. 29, 1980 this 51-year-old ex-Red Wing ...",Gordie Howe
2,3518,1999-12-15,Jeopardy!,WORLD PRESS,$300,Le Figaro,France
3,3590,2000-03-24,Jeopardy!,GOING POSTAL,$100,On the list of the Top 10 most popular commemo...,Bugs Bunny
4,5820,2009-12-25,Jeopardy!,TERMS OF ENGINEERMENT,$600,The Khurais Project in this country's desert i...,Saudi Arabia

In [5]:
# Remove the dumb spaces
df.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question', 'Answer']

# Convert to Datetime
df['Air Date'] = pd.to_datetime(df['Air Date'])

# Clean out Value column
df['Value'] = df['Value'].str.replace('$','')
df['Value'] = df['Value'].str.replace(',','')
df['Value'] = df['Value'].apply(lambda x: None if x == 'None' else int(x))
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,3913,2001-09-12,Jeopardy!,DICK & JANE & SPOT HODGEPODGE,200.0,"See Spot. See Spot sub for Eddie, played by Mo...",Frasier
1,3198,1998-06-24,Double Jeopardy!,LEAP DAY IN SPORTS,1000.0,"On Feb. 29, 1980 this 51-year-old ex-Red Wing ...",Gordie Howe
2,3518,1999-12-15,Jeopardy!,WORLD PRESS,300.0,Le Figaro,France
3,3590,2000-03-24,Jeopardy!,GOING POSTAL,100.0,On the list of the Top 10 most popular commemo...,Bugs Bunny
4,5820,2009-12-25,Jeopardy!,TERMS OF ENGINEERMENT,600.0,The Khurais Project in this country's desert i...,Saudi Arabia

In [6]:
df['Question'].value_counts()[0:5]

[audio clue]           3
[video clue]           2
Elizabeth Taylor       2
The largest in area    2
Helium, aluminum       2
Name: Question, dtype: int64

In [7]:
df.shape

(21693, 7)

In [8]:
# Drop some useless questions
df = df[df['Question'] != '[audio clue]']
df = df[df['Question'] != '[video clue]']
df = df[df['Question'] != '[filler]']
df = df[df['Question'] != '(audio clue)']

In [9]:
df.shape

(21687, 7)

In [10]:
# load nltk's English stopwords as variable called 'stopwords'
stopwords = nltk.corpus.stopwords.words('english')
print len(stopwords)
print stopwords[:10]

153
[u'i', u'me', u'my', u'myself', u'we', u'our', u'ours', u'ourselves', u'you', u'your']

In [11]:
# load nltk's SnowballStemmer as variabled 'stemmer'
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")

In [12]:
# here I define a tokenizer and stemmer which returns the set of stems in the text that it is passed

def tokenize_and_stem(text):
    # first tokenize by sentence, then by word to ensure that punctuation is caught as it's own token
    tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # filter out any tokens not containing letters (e.g., numeric tokens, raw punctuation)
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    stems = [stemmer.stem(t) for t in filtered_tokens]
    return stems


def tokenize_only(text):
    # first tokenize by sentence, then by word to ensure that punctuation is caught as it's own token
    tokens = [word.lower() for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # filter out any tokens not containing letters (e.g., numeric tokens, raw punctuation)
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    return filtered_tokens

In [13]:
def create_clean_columns(df):    
    df['clean_question'] = df['Question'].apply(cleanhtml)
    df['clean_answer'] = df['Answer'].apply(cleanhtml)
    df['clean_category'] = df['Category'].apply(cleanhtml)
    df['everything'] = df['clean_question']+' '+df['clean_answer']+' '+df['clean_category']
    return df

def cleanhtml(raw_html):
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', raw_html)
    cleantext = cleantext.replace('\n', '')
#     cleantext = cleantext.translate(None, string.punctuation)
#     cleantext = cleantext.replace('\'', '')
    regex = re.compile('[%s]' % re.escape(string.punctuation))
    cleantext = regex.sub('', cleantext)
    cleantext = cleantext.lower()
    return cleantext

In [14]:
create_clean_columns(df)

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_category,everything
0,3913,2001-09-12,Jeopardy!,DICK & JANE & SPOT HODGEPODGE,200.0,"See Spot. See Spot sub for Eddie, played by Mo...",Frasier,see spot see spot sub for eddie played by moos...,frasier,dick jane spot hodgepodge,see spot see spot sub for eddie played by moos...
1,3198,1998-06-24,Double Jeopardy!,LEAP DAY IN SPORTS,1000.0,"On Feb. 29, 1980 this 51-year-old ex-Red Wing ...",Gordie Howe,on feb 29 1980 this 51yearold exred wing score...,gordie howe,leap day in sports,on feb 29 1980 this 51yearold exred wing score...
2,3518,1999-12-15,Jeopardy!,WORLD PRESS,300.0,Le Figaro,France,le figaro,france,world press,le figaro france world press
3,3590,2000-03-24,Jeopardy!,GOING POSTAL,100.0,On the list of the Top 10 most popular commemo...,Bugs Bunny,on the list of the top 10 most popular commemo...,bugs bunny,going postal,on the list of the top 10 most popular commemo...
4,5820,2009-12-25,Jeopardy!,TERMS OF ENGINEERMENT,600.0,The Khurais Project in this country's desert i...,Saudi Arabia,the khurais project in this countrys desert in...,saudi arabia,terms of engineerment,the khurais project in this countrys desert in...
5,5539,2008-10-09,Double Jeopardy!,MAKING MONEY,1600.0,"(<a href=""http://www.j-archive.com/media/2008-...",offset,sarah of the clue crew shows a press at the bu...,offset,making money,sarah of the clue crew shows a press at the bu...
6,5130,2006-12-22,Double Jeopardy!,"COTTON, THE ACT",1200.0,"The purpose of spinning is to turn sliver, a l...",yarn,the purpose of spinning is to turn sliver a lo...,yarn,cotton the act,the purpose of spinning is to turn sliver a lo...
7,4852,2005-10-18,Double Jeopardy!,ASIA,800.0,Legend says an empress in 2640 B.C. discovered...,silk,legend says an empress in 2640 bc discovered h...,silk,asia,legend says an empress in 2640 bc discovered h...
8,3688,2000-09-20,Double Jeopardy!,SHORT STORIES,400.0,An old woman asks this Washington Irving chara...,Rip Van Winkle,an old woman asks this washington irving chara...,rip van winkle,short stories,an old woman asks this washington irving chara...
9,5170,2007-02-16,Double Jeopardy!,_____ & _____,400.0,The only railroad on the traditional Monopoly ...,B&O,the only railroad on the traditional monopoly ...,bo,,the only railroad on the traditional monopoly ...
10,3280,1998-12-04,Jeopardy!,WHAT'S MY LINE?,200.0,Mickey D's doesn't have a maitre,Maitre D' Hotel,mickey ds doesnt have a maitre,maitre d hotel,whats my line,mickey ds doesnt have a maitre maitre d hotel...
11,4732,2005-03-15,Double Jeopardy!,FROM THE CIA WORLD FACTBOOK,2000.0,"Though illegal, the Muslim Brotherhood is the ...",Hosni Mubarak,though illegal the muslim brotherhood is the m...,hosni mubarak,from the cia world factbook,though illegal the muslim brotherhood is the m...
12,2676,1996-04-01,Jeopardy!,APRIL FOOLS' DAY,200.0,"The ""core"" of this computer company goes back ...",Apple Computer,the core of this computer company goes back to...,apple computer,april fools day,the core of this computer company goes back to...
13,4268,2003-03-05,Jeopardy!,MOTHER GOOSE,400.0,"She wanted ""to give her poor dog a bone"", but ...",Old Mother Hubbard,she wanted to give her poor dog a bone but her...,old mother hubbard,mother goose,she wanted to give her poor dog a bone but her...
14,3286,1998-12-14,Jeopardy!,PHUN WITH PHONICS,100.0,Labionasal sounds are produced by these & the ...,Lips,labionasal sounds are produced by these the nose,lips,phun with phonics,labionasal sounds are produced by these the n...
15,4207,2002-12-10,Double Jeopardy!,PAINTINGS,1600.0,In 1873 Renoir painted this fellow French impr...,Claude Monet,in 1873 renoir painted this fellow french impr...,claude monet,paintings,in 1873 renoir painted this fellow french impr...
16,4156,2002-09-30,Double Jeopardy!,LA TRIVIA-TA,1200.0,Added to the National Film Registry list in 20...,"""Let's All Go to the Lobby to Get Ourselves a ...",added to the national film registry list in 20...,lets all go to the lobby to get ourselves a treat,la triviata,added to the national film registry list in 20...
17,5028,2006-06-21,Double Jeopardy!,WHERE AM I?,3000.0,"(<a href=""http://www.j-archive.com/media/2006-...",Attica,sarah of the clue crew walks in front of some ...,attica,where am i,sarah of the clue crew walks in front of some ...
18,5090,2006-10-27,Jeopardy!,20th CENTURY SPORTS,200.0,In 1981 Frenchman Thierry Vigneron became the ...,the pole vault,in 1981 frenchman thierry vigneron became the ...,the pole vault,20th century sports,in 1981 frenchman thierry vigneron became the ...
19,4787,2005-05-31,Double Jeopardy!,SCIENCE BRIEFS,2000.0,When the stork won't come: IVF,in vitro fertilization,when the stork wont come ivf,in vitro fertilization,science briefs,when the stork wont come ivf in vitro fertiliz...
20,3771,2001-01-15,Double Jeopardy!,THE WEATHER FORECAST,800.0,Brace yourself for storms -- we're in one of t...,Trough,brace yourself for storms were in one of thes...,trough,the weather forecast,brace yourself for storms were in one of thes...
21,3913,2001-09-12,Jeopardy!,MOVIE SONGS,200.0,"""If I Were King Of The Forest"" (1939)",The Wizard of Oz,if i were king of the forest 1939,the wizard of oz,movie songs,if i were king of the forest 1939 the wizard o...
22,4899,2005-12-22,Double Jeopardy!,"EDUCATIONAL ""BURG""s",1500.0,A branch campus of the University of Southern ...,St. Petersburg,a branch campus of the university of southern ...,st petersburg,educational burgs,a branch campus of the university of southern ...
23,5619,2009-01-29,Double Jeopardy!,PICK THE PRIME NUMBER,2000.0,"81, 85, 89",89,81 85 89,89,pick the prime number,81 85 89 89 pick the prime number
24,3057,1997-12-09,Jeopardy!,UNDERNEATH THE BOUGH,100.0,Part of an apple tree he sat beneath is preser...,Sir Isaac Newton,part of an apple tree he sat beneath is preser...,sir isaac newton,underneath the bough,part of an apple tree he sat beneath is preser...
25,6172,2011-06-14,Jeopardy!,"""AW"", SHUCKS",400.0,5-letter adjective meaning lewd or humorously ...,bawdy,5letter adjective meaning lewd or humorously i...,bawdy,aw shucks,5letter adjective meaning lewd or humorously i...
26,5608,2009-01-14,Jeopardy!,OVER-THE-COUNTER CULTURE,400.0,"Hippie Skivvies of San Luis Obispo, Calif. lis...",(Hugh) Hefner,hippie skivvies of san luis obispo calif lists...,hugh hefner,overthecounter culture,hippie skivvies of san luis obispo calif lists...
27,6096,2011-02-28,Double Jeopardy!,"LIKE A ""G""6",2000.0,"This root is seen <a href=""http://www.j-archiv...",ginger,this root is seen here,ginger,like a g6,this root is seen here ginger like a g6
28,5874,2010-03-11,Double Jeopardy!,BIBLICAL MEGADEATHS,400.0,This judge didn't need his hotel Bible when he...,Gideon,this judge didnt need his hotel bible when he ...,gideon,biblical megadeaths,this judge didnt need his hotel bible when he ...
29,4496,2004-03-08,Double Jeopardy!,NAUGHT'S LANDING,400.0,"Slang for ""nothing"", it's also a company that'...",Zippo,slang for nothing its also a company thats pro...,zippo,naughts landing,slang for nothing its also a company thats pro...
...,...,...,...,...,...,...,...,...,...,...,...
21663,2622,1996-01-16,Double Jeopardy!,AMERICAN LITERATURE,800.0,This 1941 Budd Schulberg novel chronicles the ...,"""What Makes Sammy Run?""",this 1941 budd schulberg novel chronicles the ...,what makes sammy run,american literature,this 1941 budd schulberg novel chronicles the ...
21664,3458,1999-09-22,Double Jeopardy!,HAIKU TO JAPAN,1000.0,"Using no weapons/ only arm strikes, thrusts & ...","""Empty Hand""",using no weapons only arm strikes thrusts kic...,empty hand,haiku to japan,using no weapons only arm strikes thrusts kic...
21665,4080,2002-05-03,Double Jeopardy!,"""C"" IN SCIENCE",800.0,This type of cable has insulated conducting ma...,coaxial,this type of cable has insulated conducting ma...,coaxial,c in science,this type of cable has insulated conducting ma...
21666,4828,2005-09-14,Double Jeopardy!,"I, MAX",800.0,German poet Max Schneckenburger was famous for...,the Rhine,german poet max schneckenburger was famous for...,the rhine,i max,german poet max schneckenburger was famous for...
21667,5969,2010-07-22,Jeopardy!,IN THE 21st CENTURY,400.0,The FDA began recalling peanut butter after in...,salmonella,the fda began recalling peanut butter after in...,salmonella,in the 21st century,the fda began recalling peanut butter after in...
21668,5886,2010-03-29,Jeopardy!,A FUNGUS AMONG US,200.0,The morel of the story is that false morels ha...,poison,the morel of the story is that false morels ha...,poison,a fungus among us,the morel of the story is that false morels ha...
21669,6065,2011-01-14,Double Jeopardy!,WHAT'S IN AN OLD TESTAMENT NAME?,2000.0,Hunt around & you'll find that the name of thi...,Nimrod,hunt around youll find that the name of this ...,nimrod,whats in an old testament name,hunt around youll find that the name of this ...
21670,2897,1997-03-18,Jeopardy!,1980s ROCK MUSIC,200.0,"Before reaching stardom with ""You Give Good Lo...",Whitney Houston,before reaching stardom with you give good lov...,whitney houston,1980s rock music,before reaching stardom with you give good lov...
21671,3105,1998-02-13,Jeopardy!,THE AMERICAN REVOLUTION,300.0,It's been said that about 1/3 of all British t...,Hessians,its been said that about 13 of all british tro...,hessians,the american revolution,its been said that about 13 of all british tro...
21672,4788,2005-06-01,Double Jeopardy!,"LETS TAKE A ""D"" TOUR",2000.0,"Once the capital of French West Africa, now it...",Dakar,once the capital of french west africa now its...,dakar,lets take a d tour,once the capital of french west africa now its...
21673,5280,2007-07-20,Jeopardy!,IN THE BOOKSTORE,1000.0,A secret code called nu shu is pivotal to the ...,China,a secret code called nu shu is pivotal to the ...,china,in the bookstore,a secret code called nu shu is pivotal to the ...
21674,3411,1999-06-07,Jeopardy!,THE '60s,200.0,Lack of public demand led the U.S. Treasury to...,$2 bills,lack of public demand led the us treasury to o...,2 bills,the 60s,lack of public demand led the us treasury to o...
21675,5688,2009-05-06,Double Jeopardy!,WHEE! IT'S 1893!,2000.0,The U.S. facilitated the overthrow of this kin...,Hawaii,the us facilitated the overthrow of this kingd...,hawaii,whee its 1893,the us facilitated the overthrow of this kingd...
21676,6086,2011-02-14,Jeopardy!,FINAL FRONTIERS,1000.0,"Tickets aren't needed for this ""event"", a blac...",event horizon,tickets arent needed for this event a black ho...,event horizon,final frontiers,tickets arent needed for this event a black ho...
21677,5080,2006-10-13,Jeopardy!,"ASK ""Y""",1000.0,"As head of this Internet company, Terry Semel ...",Yahoo!,as head of this internet company terry semel h...,yahoo,ask y,as head of this internet company terry semel h...
21678,3838,2001-04-18,Double Jeopardy!,LOUIS ARMSTRONG,1000.0,Armstrong helped launch this Fats Waller tune ...,"""Ain't Misbehavin'""",armstrong helped launch this fats waller tune ...,aint misbehavin,louis armstrong,armstrong helped launch this fats waller tune ...
21679,5253,2007-06-13,Jeopardy!,CONGRESSIONAL DISTRICTS,1000.0,Woonsocket & Pawtucket are served by Patrick K...,Rhode Island,woonsocket pawtucket are served by patrick ke...,rhode island,congressional districts,woonsocket pawtucket are served by patrick ke...
21680,3970,2001-11-30,Double Jeopardy!,PHILOSOPHERS,800.0,A Florida city is named for this medieval auth...,St. Augustine,a florida city is named for this medieval auth...,st augustine,philosophers,a florida city is named for this medieval auth...
21681,3172,1998-05-19,Jeopardy!,"THE ""FIFTH""",400.0,A group of spies or traitors within your own d...,Fifth column,a group of spies or traitors within your own d...,fifth column,the fifth,a group of spies or traitors within your own d...
21682,3237,1998-10-06,Double Jeopardy!,WRITERS' PRIVATE LIVES,200.0,Before he was famous he drove around with a li...,John Irving,before he was famous he drove around with a li...,john irving,writers private lives,before he was famous he drove around with a li...
21683,4181,2002-11-04,Double Jeopardy!,BEFORE & AFTER,1200.0,Army doctor who discovered that yellow fever w...,Walter Reed instruments,army doctor who discovered that yellow fever w...,walter reed instruments,before after,army doctor who discovered that yellow fever w...
21684,4909,2006-01-05,Jeopardy!,STAR WARS,800.0,A famous Hollywood feud was between Bette Davi...,Joan Crawford,a famous hollywood feud was between bette davi...,joan crawford,star wars,a famous hollywood feud was between bette davi...
21685,3893,2001-07-04,Jeopardy!,PRESIDENTIAL LIFE SPANS,300.0,1809-1865,Abraham Lincoln,18091865,abraham lincoln,presidential life spans,18091865 abraham lincoln presidential life spans
21686,3731,2000-11-20,Jeopardy!,COLLEGE FOOTBALL,200.0,Mississippi State is represented by this persi...,Bulldog,mississippi state is represented by this persi...,bulldog,college football,mississippi state is represented by this persi...
21687,3443,1999-07-21,Jeopardy!,"OUT FOR A ""SPIN""",400.0,Sleeping Beauty's parents tried to have all of...,Spinning wheels,sleeping beautys parents tried to have all of ...,spinning wheels,out for a spin,sleeping beautys parents tried to have all of ...
21688,4573,2004-06-23,Jeopardy!,HAMLETS,1000.0,"Appropriately, the final resting place of the ...",Cooperstown,appropriately the final resting place of the a...,cooperstown,hamlets,appropriately the final resting place of the a...
21689,2963,1997-06-18,Double Jeopardy!,4-SYLLABLE WORDS,800.0,"To increase the velocity of an object, such as...",Accelerate,to increase the velocity of an object such as ...,accelerate,4syllable words,to increase the velocity of an object such as ...
21690,5836,2010-01-18,Double Jeopardy!,SHADES OF PURPLE,800.0,Steve Breen wrote a kids' book rhymingly title...,Violet,steve breen wrote a kids book rhymingly titled...,violet,shades of purple,steve breen wrote a kids book rhymingly titled...
21691,4735,2005-03-18,Jeopardy!,THEY CAME TO EGYPT,1000.0,"(<a href=""http://www.j-archive.com/media/2005-...",Champollion,jimmy of the clue crew reports from luxor egyp...,champollion,they came to egypt,jimmy of the clue crew reports from luxor egyp...
21692,3860,2001-05-18,Jeopardy!,"DR. SEUSS, REWRITE MAN",200.0,"This famous sleuth simply could not be beat, &...",Sherlock Holmes,this famous sleuth simply could not be beat t...,sherlock holmes,dr seuss rewrite man,this famous sleuth simply could not be beat t...

In [41]:
# questions = df['clean_question'].values
questions = df['everything'].values
# categories = df['clean_category'].values
# answers = df['clean_answer'].values

In [42]:
#not super pythonic, no, not at all.
#use extend so it's a big flat list of vocab
totalvocab_stemmed = []
totalvocab_tokenized = []
for i in questions:
    allwords_stemmed = tokenize_and_stem(i) #for each item in 'synopses', tokenize/stem
    totalvocab_stemmed.extend(allwords_stemmed) #extend the 'totalvocab_stemmed' list
    
    allwords_tokenized = tokenize_only(i)
    totalvocab_tokenized.extend(allwords_tokenized)

In [43]:
vocab_frame = pd.DataFrame({'words': totalvocab_tokenized}, index = totalvocab_stemmed)

In [44]:
vocab_frame.head(20)

                   words
see                  see
spot                spot
see                  see
spot                spot
sub                  sub
for                  for
eddi               eddie
play              played
by                    by
moos               moose
the                  the
dog                  dog
on                    on
this                this
psycholog  psychological
sitcom            sitcom
act                  act
spot                spot
act                  act
frasier          frasier

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.externals import joblib

# tfidf_vectorizer = TfidfVectorizer(max_df=0.8, max_features=200000,
#                                  min_df=0.2, stop_words='english',
#                                  use_idf=True, tokenizer=tokenize_and_stem, ngram_range=(1,3))

tfidf_vectorizer = TfidfVectorizer(stop_words='english',
                                 tokenizer=tokenize_and_stem, ngram_range=(1,3))

# tfidf_vectorizer = TfidfVectorizer(stop_words='english',
#                                  tokenizer=tokenize_only, ngram_range=(1,3))

# %time tfidf_matrix = tfidf_vectorizer.fit_transform(questions)

tfidf_vectorizer.fit(questions)
joblib.dump(tfidf_vectorizer, 'tfidf_test.pkl')

# print(tfidf_matrix.shape)

['tfidf_test.pkl', 'tfidf_test.pkl_01.npy', 'tfidf_test.pkl_02.npy']

In [46]:
tfidf_vectorizer = joblib.load('tfidf_test.pkl')
tfidf_matrix = tfidf_vectorizer.transform(questions)

In [47]:
terms = tfidf_vectorizer.get_feature_names()

In [48]:
# from sklearn.metrics.pairwise import cosine_similarity
# dist = 1 - cosine_similarity(tfidf_matrix)

In [49]:
from sklearn.cluster import KMeans

num_clusters = 50

km = KMeans(n_clusters=num_clusters)

%time km.fit(tfidf_matrix)

clusters = km.labels_.tolist()

CPU times: user 4min 54s, sys: 1min 16s, total: 6min 10s
Wall time: 4min 5s

In [50]:
from sklearn.externals import joblib

joblib.dump(km,  'doc_cluster.pkl')
km = joblib.load('doc_cluster.pkl')
clusters = km.labels_.tolist()

In [51]:
len(clusters)

21687

In [52]:
df['Cluster'] = clusters

In [53]:
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_category,everything,Cluster
0,3913,2001-09-12,Jeopardy!,DICK & JANE & SPOT HODGEPODGE,200.0,"See Spot. See Spot sub for Eddie, played by Mo...",Frasier,see spot see spot sub for eddie played by moos...,frasier,dick jane spot hodgepodge,see spot see spot sub for eddie played by moos...,15
1,3198,1998-06-24,Double Jeopardy!,LEAP DAY IN SPORTS,1000.0,"On Feb. 29, 1980 this 51-year-old ex-Red Wing ...",Gordie Howe,on feb 29 1980 this 51yearold exred wing score...,gordie howe,leap day in sports,on feb 29 1980 this 51yearold exred wing score...,43
2,3518,1999-12-15,Jeopardy!,WORLD PRESS,300.0,Le Figaro,France,le figaro,france,world press,le figaro france world press,29
3,3590,2000-03-24,Jeopardy!,GOING POSTAL,100.0,On the list of the Top 10 most popular commemo...,Bugs Bunny,on the list of the top 10 most popular commemo...,bugs bunny,going postal,on the list of the top 10 most popular commemo...,8
4,5820,2009-12-25,Jeopardy!,TERMS OF ENGINEERMENT,600.0,The Khurais Project in this country's desert i...,Saudi Arabia,the khurais project in this countrys desert in...,saudi arabia,terms of engineerment,the khurais project in this countrys desert in...,32

In [54]:
df['Cluster'].value_counts()

8     7581
20     652
1      573
33     528
3      511
12     469
19     424
32     414
46     409
7      398
47     388
29     386
40     381
43     376
42     365
13     364
49     346
25     341
16     326
41     324
24     317
27     312
4      304
22     289
38     275
44     273
2      263
6      248
28     242
21     239
35     230
36     227
23     209
0      208
37     195
14     191
11     189
48     181
26     178
39     174
30     172
10     157
34     152
9      152
18     147
17     128
5      128
15     122
31     118
45     111
Name: Cluster, dtype: int64

In [55]:
print "Top terms per cluster:"
print ''
order_centroids = km.cluster_centers_.argsort()[:, ::-1]
for i in range(num_clusters):
    print "Cluster %d words:" % i, end=''
    for ind in order_centroids[i, :20]:
        print ' %s' % vocab_frame.ix[terms[ind].split(' ')].values.tolist()[0][0].encode('utf-8', 'ignore'), end=','
    print ''
    print ''
#     print("Cluster %d categories:" % i, end='')
#     for cat in df.ix[i]['Category']:#.values.tolist():
#         print(' %s,' % cat, end='')
    print ''
    print ''

SyntaxError: invalid syntax (<ipython-input-55-6a47a949b5f4>, line 5)

### LDA Attempts - work in progress

In [44]:
#strip any proper names from a text...unfortunately right now this is yanking the first word from a sentence too.
def strip_proppers(text):
    # first tokenize by sentence, then by word to ensure that punctuation is caught as it's own token
    tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent) if word.islower()]
    return "".join([" "+i if not i.startswith("'") and i not in string.punctuation else i for i in tokens]).strip()

In [45]:
#strip any proper nouns (NNP) or plural proper nouns (NNPS) from a text
from nltk.tag import pos_tag

def strip_proppers_POS(text):
    tagged = pos_tag(text.split()) #use NLTK's part of speech tagger
    non_propernouns = [word for word,pos in tagged if pos != 'NNP' and pos != 'NNPS']
    return non_propernouns

In [47]:
from gensim import corpora, models, similarities 

#remove proper names
%time preprocess = [strip_proppers(doc) for doc in questions]

#tokenize
%time tokenized_text = [tokenize_and_stem(text) for text in preprocess]

#remove stop words
%time texts = [[word for word in text if word not in stopwords] for text in tokenized_text]

CPU times: user 4.21 s, sys: 20 ms, total: 4.23 s
Wall time: 4.21 s
CPU times: user 9.58 s, sys: 76 ms, total: 9.65 s
Wall time: 9.57 s
CPU times: user 1.34 s, sys: 28 ms, total: 1.37 s
Wall time: 1.32 s

In [48]:
#create a Gensim dictionary from the texts
dictionary = corpora.Dictionary(texts)

#remove extremes (similar to the min/max df step used when creating the tf-idf matrix)
dictionary.filter_extremes(no_below=1, no_above=0.8)

#convert the dictionary to a bag of words corpus for reference
corpus = [dictionary.doc2bow(text) for text in texts]

In [50]:
%time lda = models.LdaModel(corpus, num_topics=5, id2word=dictionary, update_every=5, chunksize=10000, passes=100)

CPU times: user 28min 56s, sys: 1.22 s, total: 28min 57s
Wall time: 28min 57s

In [51]:
lda.show_topics()

[(0,
  u'0.011*citi + 0.011*state + 0.007*countri + 0.007*new + 0.007*name + 0.007*nation + 0.006*one + 0.006*us + 0.006*first + 0.005*world'),
 (1,
  u'0.009*film + 0.009*play + 0.006*titl + 0.005*one + 0.005*show + 0.004*star + 0.004*day + 0.004*song + 0.004*music + 0.004*man'),
 (2,
  u'0.009*one + 0.008*name + 0.008*war + 0.005*first + 0.005*presid + 0.004*henri + 0.003*king + 0.003*seen + 0.003*american + 0.003*year'),
 (3,
  u'0.014*name + 0.006*mean + 0.005*call + 0.005*island + 0.005*king + 0.004*like + 0.004*may + 0.004*one + 0.004*first + 0.003*use'),
 (4,
  u'0.007*type + 0.006*sea + 0.005*name + 0.005*use + 0.004*one + 0.004*clue + 0.004*first + 0.003*anim + 0.003*seen + 0.003*crew')]

In [67]:
topics_matrix = lda.show_topics(formatted=False, num_words=20)
topics_matrix = np.array(topics_matrix)

topic_words = topics_matrix[:,:,1]
for i in topic_words:
    print [str(word) for word in i]
    print ''

ValueError: setting an array element with a sequence

In [79]:
for i in range(len(topics_matrix)):
    print i

0
1
2
3
4