In [1]:
import pandas as pd
import numpy as np
import nltk
import re
import string

import matplotlib.pyplot as plt
%matplotlib inline

In [87]:
# df = pd.read_csv('data/JEOPARDY_CSV.csv', encoding='utf-8')
full_df = pd.read_csv('../data/JEOPARDY_CSV.csv', encoding='utf-8')
print(full_df.shape)
full_df.head()

(216930, 7)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [3]:
df = full_df.sample(frac=0.1)
df.reset_index(drop=True, inplace=True)

In [4]:
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,1376,1990-09-03,Jeopardy!,FOOD,$400,They're immature pigeons sometimes raised for ...,squabs
1,4345,2003-06-20,Jeopardy!,BIBLICAL QUOTES,$800,"Paul wrote to Timothy, ""Drink no longer water,...",wine
2,312,1985-11-19,Jeopardy!,WORD ORIGINS,$100,"Though an insect larva, its name comes from Fr...",caterpillar
3,309,1985-11-14,Jeopardy!,INSECTS,$400,The actual title of “Jimmy Crack Corn”,The Blue Tail Fly
4,5435,2008-04-04,Jeopardy!,MAKE IT STICK,$200,This line of auto body products includes 4 Min...,Bondo

In [5]:
# Remove the dumb spaces
df.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question', 'Answer']

# Convert to Datetime
df['Air Date'] = pd.to_datetime(df['Air Date'])

# Clean out Value column
df['Value'] = df['Value'].str.replace('$','')
df['Value'] = df['Value'].str.replace(',','')
df['Value'] = df['Value'].apply(lambda x: None if x == 'None' else int(x))
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,1376,1990-09-03,Jeopardy!,FOOD,400.0,They're immature pigeons sometimes raised for ...,squabs
1,4345,2003-06-20,Jeopardy!,BIBLICAL QUOTES,800.0,"Paul wrote to Timothy, ""Drink no longer water,...",wine
2,312,1985-11-19,Jeopardy!,WORD ORIGINS,100.0,"Though an insect larva, its name comes from Fr...",caterpillar
3,309,1985-11-14,Jeopardy!,INSECTS,400.0,The actual title of “Jimmy Crack Corn”,The Blue Tail Fly
4,5435,2008-04-04,Jeopardy!,MAKE IT STICK,200.0,This line of auto body products includes 4 Min...,Bondo

In [6]:
df['Question'].value_counts()[0:5]

[audio clue]                                                                                                      3
[video clue]                                                                                                      3
"When the one great scorer comes to write against your name, he marks -- not that you won or lost -- but" this    2
"A Time to Heal"                                                                                                  2
Daikon                                                                                                            2
Name: Question, dtype: int64

In [7]:
df.shape

(21693, 7)

In [8]:
# Drop some useless questions
df = df[df['Question'] != '[audio clue]']
df = df[df['Question'] != '[video clue]']
df = df[df['Question'] != '[filler]']
df = df[df['Question'] != '(audio clue)']

In [9]:
df.shape

(21687, 7)

In [11]:
# load nltk's English stopwords as variable called 'stopwords'
stopwords = nltk.corpus.stopwords.words('english')
print(len(stopwords))
print(stopwords[:10])

153
[u'i', u'me', u'my', u'myself', u'we', u'our', u'ours', u'ourselves', u'you', u'your']

In [12]:
# load nltk's SnowballStemmer as variabled 'stemmer'
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")

In [13]:
# here I define a tokenizer and stemmer which returns the set of stems in the text that it is passed

def tokenize_and_stem(text):
    # first tokenize by sentence, then by word to ensure that punctuation is caught as it's own token
    tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # filter out any tokens not containing letters (e.g., numeric tokens, raw punctuation)
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    stems = [stemmer.stem(t) for t in filtered_tokens]
    return stems


def tokenize_only(text):
    # first tokenize by sentence, then by word to ensure that punctuation is caught as it's own token
    tokens = [word.lower() for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # filter out any tokens not containing letters (e.g., numeric tokens, raw punctuation)
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    return filtered_tokens

In [22]:
def create_clean_columns(df):    
    df['clean_question'] = df['Question'].apply(cleanhtml)
    df['clean_answer'] = df['Answer'].apply(cleanhtml)
#     df['clean_category'] = df['Category'].apply(cleanhtml)
    df['everything'] = df['clean_question']+' '+df['clean_answer']#+' '+df['clean_category']
    return df

def cleanhtml(raw_html):
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', raw_html)
    cleantext = cleantext.replace('\n', '')
#     cleantext = cleantext.translate(None, string.punctuation)
#     cleantext = cleantext.replace('\'', '')
    regex = re.compile('[%s]' % re.escape(string.punctuation))
    cleantext = regex.sub('', cleantext)
    cleantext = cleantext.lower()
    return cleantext

In [23]:
create_clean_columns(df)

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,everything
0,1376,1990-09-03,Jeopardy!,FOOD,400.0,They're immature pigeons sometimes raised for ...,squabs,theyre immature pigeons sometimes raised for food,squabs,theyre immature pigeons sometimes raised for f...
1,4345,2003-06-20,Jeopardy!,BIBLICAL QUOTES,800.0,"Paul wrote to Timothy, ""Drink no longer water,...",wine,paul wrote to timothy drink no longer water bu...,wine,paul wrote to timothy drink no longer water bu...
2,312,1985-11-19,Jeopardy!,WORD ORIGINS,100.0,"Though an insect larva, its name comes from Fr...",caterpillar,though an insect larva its name comes from fre...,caterpillar,though an insect larva its name comes from fre...
3,309,1985-11-14,Jeopardy!,INSECTS,400.0,The actual title of “Jimmy Crack Corn”,The Blue Tail Fly,the actual title of “jimmy crack corn”,the blue tail fly,the actual title of “jimmy crack corn” the blu...
4,5435,2008-04-04,Jeopardy!,MAKE IT STICK,200.0,This line of auto body products includes 4 Min...,Bondo,this line of auto body products includes 4 min...,bondo,this line of auto body products includes 4 min...
5,4747,2005-04-05,Double Jeopardy!,YOU SLEIGH ME,400.0,J. Pierpont Morgan's uncle James Pierpont wrot...,"""Jingle Bells""",j pierpont morgans uncle james pierpont wrote ...,jingle bells,j pierpont morgans uncle james pierpont wrote ...
6,3118,1998-03-04,Double Jeopardy!,MAGAZINES,200.0,Ellery Queen & now Mary Higgins Clark have the...,Mystery,ellery queen now mary higgins clark have thei...,mystery,ellery queen now mary higgins clark have thei...
7,6149,2011-05-12,Double Jeopardy!,COLORFUL 19th CENTURY LIT,1600.0,The first chapter of this 1887 work is titled ...,A Study in Scarlet,the first chapter of this 1887 work is titled ...,a study in scarlet,the first chapter of this 1887 work is titled ...
8,1331,1990-05-21,Double Jeopardy!,EARLY AMERICA,800.0,"1797 ""affair"" in which 3 agents for France dem...","""XYZ"" Affair",1797 affair in which 3 agents for france deman...,xyz affair,1797 affair in which 3 agents for france deman...
9,3160,1998-05-01,Jeopardy!,LITERATURE,200.0,"His ""Jungle Book"" prose begins, ""It was seven ...",Rudyard Kipling,his jungle book prose begins it was seven oclo...,rudyard kipling,his jungle book prose begins it was seven oclo...
10,1526,1991-04-01,Jeopardy!,COOKING,300.0,A type of shell that holds creamed meat dishes...,patty,a type of shell that holds creamed meat dishes...,patty,a type of shell that holds creamed meat dishes...
11,2938,1997-05-14,Jeopardy!,THE DAKOTAS,200.0,"Hot Springs, South Dakota has one of North Ame...",mammoths,hot springs south dakota has one of north amer...,mammoths,hot springs south dakota has one of north amer...
12,3058,1997-12-10,Double Jeopardy!,RECORD PRODUCERS,200.0,"George Martin, often called a fifth member of ...",The Beatles,george martin often called a fifth member of t...,the beatles,george martin often called a fifth member of t...
13,3184,1998-06-04,Double Jeopardy!,BEFORE & AFTER,800.0,"A speech from ""As You Like It"" compares our pl...","""All the World's a Stage Delicatessen""",a speech from as you like it compares our plan...,all the worlds a stage delicatessen,a speech from as you like it compares our plan...
14,3023,1997-10-22,Jeopardy!,THE 1980s,700.0,Hungarian professor for whom this object is na...,Erno Rubik,hungarian professor for whom this object is na...,erno rubik,hungarian professor for whom this object is na...
15,4324,2003-05-22,Double Jeopardy!,MY PEOPLE CALL YOUR PEOPLE...,800.0,"In German, Schweizer doesn't mean ""humanitaria...",Switzerland,in german schweizer doesnt mean humanitarian i...,switzerland,in german schweizer doesnt mean humanitarian i...
16,3580,2000-03-10,Double Jeopardy!,MASONS,800.0,This actress received 3 of her 4 Academy Award...,Marsha Mason,this actress received 3 of her 4 academy award...,marsha mason,this actress received 3 of her 4 academy award...
17,4722,2005-03-01,Double Jeopardy!,BRIT LIT,2000.0,In 1728 Alexander Pope satirized his enemies n...,The Dunciad,in 1728 alexander pope satirized his enemies n...,the dunciad,in 1728 alexander pope satirized his enemies n...
18,3842,2001-04-24,Double Jeopardy!,PSYCHOBABBLE,1000.0,A shrink created this technique after seeing a...,Psychodrama,a shrink created this technique after seeing a...,psychodrama,a shrink created this technique after seeing a...
19,5130,2006-12-22,Double Jeopardy!,ELEMENTAL RHYME TIME,2000.0,Skull made from one of the oldest mined elment...,head lead (or lead head),skull made from one of the oldest mined elment...,head lead or lead head,skull made from one of the oldest mined elment...
20,4283,2003-03-26,Double Jeopardy!,HISTORICAL NOVELS,400.0,"Mary Higgins Clark's ""Mount Vernon Love Story""...",George & Martha Washington,mary higgins clarks mount vernon love story is...,george martha washington,mary higgins clarks mount vernon love story is...
21,3828,2001-04-04,Jeopardy!,WORD SMITHS,100.0,"""The Frugal Gourmet Cooks With Wine"" is a book...",Jeff Smith,the frugal gourmet cooks with wine is a book b...,jeff smith,the frugal gourmet cooks with wine is a book b...
22,6170,2011-06-10,Double Jeopardy!,I'VE WON AN OSCAR & AN EMMY,800.0,"""Kramer vs. Kramer"" (Oscar) & ""Holocaust"" (Emmy)",Meryl Streep,kramer vs kramer oscar holocaust emmy,meryl streep,kramer vs kramer oscar holocaust emmy meryl s...
23,3517,1999-12-14,Jeopardy!,THE WOK OF FAME,400.0,"Reputedly an aphrodisiac, this expensive soup ...",Shark fin soup,reputedly an aphrodisiac this expensive soup u...,shark fin soup,reputedly an aphrodisiac this expensive soup u...
24,3101,1998-02-09,Double Jeopardy!,BRIDGES,200.0,The Whirlpool Rapids & Rainbow Bridges connect...,Niagara Falls,the whirlpool rapids rainbow bridges connect ...,niagara falls,the whirlpool rapids rainbow bridges connect ...
25,4715,2005-02-18,Jeopardy!,1970s ALBUM COVERS,800.0,1973: Paul McCartney & 8 others including Jame...,Band on the Run,1973 paul mccartney 8 others including james ...,band on the run,1973 paul mccartney 8 others including james ...
26,3356,1999-03-22,Double Jeopardy!,BEHIND THE MIKE,600.0,He gained fame doing sports on radio station W...,Ronald Reagan,he gained fame doing sports on radio station w...,ronald reagan,he gained fame doing sports on radio station w...
27,6080,2011-02-04,Double Jeopardy!,POETS' MONOGRAMS,2000.0,"He was the ""Ploughman Poet"": RB",Robert Burns,he was the ploughman poet rb,robert burns,he was the ploughman poet rb robert burns
28,4572,2004-06-22,Double Jeopardy!,THEY PLAYED JESSE JAMES,2000.0,"This co-star of 2003's ""Open Range"" played Jes...",(Robert) Duvall,this costar of 2003s open range played jesse i...,robert duvall,this costar of 2003s open range played jesse i...
29,4194,2002-11-21,Double Jeopardy!,12-LETTER WORDS,800.0,This physician specializes in the care of chil...,pediatrician,this physician specializes in the care of chil...,pediatrician,this physician specializes in the care of chil...
...,...,...,...,...,...,...,...,...,...,...
21663,2677,1996-04-02,Double Jeopardy!,MOUNTAINS,400.0,This highest Greek mountain wasn't scaled unti...,Mt. Olympus,this highest greek mountain wasnt scaled until...,mt olympus,this highest greek mountain wasnt scaled until...
21664,5435,2008-04-04,Double Jeopardy!,"VERY WORD ""E""",2000.0,"This type of school course is taken for fun, o...",elective,this type of school course is taken for fun or...,elective,this type of school course is taken for fun or...
21665,3515,1999-12-10,Final Jeopardy!,CLASSIC TELEVISION,NaN,"This series was set at 165 Eaton Place, 6 floo...","Upstairs, Downstairs",this series was set at 165 eaton place 6 floor...,upstairs downstairs,this series was set at 165 eaton place 6 floor...
21666,2965,1997-06-20,Double Jeopardy!,MOVIE ACTORS & ACTRESSES,1000.0,This lead singer of Blondie played Velma Von T...,Debbie Harry,this lead singer of blondie played velma von t...,debbie harry,this lead singer of blondie played velma von t...
21667,5597,2008-12-30,Jeopardy!,TRAFFIC,400.0,"Ground professional who says things like ""Main...",air traffic controller,ground professional who says things like maint...,air traffic controller,ground professional who says things like maint...
21668,5095,2006-11-03,Jeopardy!,"GIMME AN ""H""",400.0,This Onondaga chief who helped unite the Iroqu...,Hiawatha,this onondaga chief who helped unite the iroqu...,hiawatha,this onondaga chief who helped unite the iroqu...
21669,3125,1998-03-13,Jeopardy!,LET'S TALK ABOUT SEX,400.0,"""Sex is the biggest nothing of all time"", said...",Andy Warhol,sex is the biggest nothing of all time said th...,andy warhol,sex is the biggest nothing of all time said th...
21670,3200,1998-06-26,Double Jeopardy!,EUROPE TO NO GOOD,800.0,"During his 1986 to 1992 presidency of Austria,...",Kurt Waldheim,during his 1986 to 1992 presidency of austria ...,kurt waldheim,during his 1986 to 1992 presidency of austria ...
21671,6065,2011-01-14,Double Jeopardy!,"SILENT ""L""",1600.0,They're sudden brief feelings of doubt or misg...,qualms,theyre sudden brief feelings of doubt or misgi...,qualms,theyre sudden brief feelings of doubt or misgi...
21672,5819,2009-12-24,Double Jeopardy!,GO GREYHOUND,400.0,Until 1700 a commoner in this William III-led ...,England,until 1700 a commoner in this william iiiled c...,england,until 1700 a commoner in this william iiiled c...
21673,5673,2009-04-15,Double Jeopardy!,ARTHUR-IAN AUTHORS,1200.0,In 1890 he gave up practicing medicine for ful...,(Arthur Conan) Doyle,in 1890 he gave up practicing medicine for ful...,arthur conan doyle,in 1890 he gave up practicing medicine for ful...
21674,2047,1993-06-29,Jeopardy!,IT'S EXTINCT,400.0,Steller's Sea Cow was a relative of this rare ...,the manatee,stellers sea cow was a relative of this rare a...,the manatee,stellers sea cow was a relative of this rare a...
21675,6064,2011-01-13,Jeopardy!,"DOUBLE ""G""s",800.0,"A cluster of people, or more commonly, a flock...",a gaggle,a cluster of people or more commonly a flock o...,a gaggle,a cluster of people or more commonly a flock o...
21676,5484,2008-06-12,Double Jeopardy!,SPACE SCIENCE,1600.0,The Space Age began in 1957 when Russia launch...,Sputnik,the space age began in 1957 when russia launch...,sputnik,the space age began in 1957 when russia launch...
21677,3264,1998-11-12,Double Jeopardy!,"LET'S SPEAK AUSTRALIAN, MATE",400.0,"You've brought over "" A carton of tinnies"" for...",Beer,youve brought over a carton of tinnies for us...,beer,youve brought over a carton of tinnies for us...
21678,4807,2005-06-28,Jeopardy!,THE LADIES OF ROCK,400.0,At a benefit for stopping violence against wom...,Courtney Love,at a benefit for stopping violence against wom...,courtney love,at a benefit for stopping violence against wom...
21679,2981,1997-07-14,Double Jeopardy!,LANGUAGES,1000.0,Tallinn is the northern dialect of this Europe...,Estonian,tallinn is the northern dialect of this europe...,estonian,tallinn is the northern dialect of this europe...
21680,2865,1997-01-31,Double Jeopardy!,RUSSIAN WRITERS,800.0,"This ""Gulag Archipelago"" writer taught mathema...",Aleksandr Solzhenitsyn,this gulag archipelago writer taught mathemati...,aleksandr solzhenitsyn,this gulag archipelago writer taught mathemati...
21681,4778,2005-05-18,Double Jeopardy!,ROCK & ROLL HALL OF FAMERS,2000.0,"The Hall honored Seymour Stein, the co-founder...",Sire Records,the hall honored seymour stein the cofounder o...,sire records,the hall honored seymour stein the cofounder o...
21682,5605,2009-01-09,Double Jeopardy!,3 LITTLE LETTERS,3500.0,"Headquartered in Atlanta, this agency, establi...",the CDC,headquartered in atlanta this agency establish...,the cdc,headquartered in atlanta this agency establish...
21683,3544,2000-01-20,Double Jeopardy!,QUIZ SHOW,200.0,"This scholarly quiz show ""Bowl"" was originally...",College Bowl,this scholarly quiz show bowl was originally h...,college bowl,this scholarly quiz show bowl was originally h...
21684,5703,2009-05-27,Double Jeopardy!,JAPANESE CULTURE,400.0,"(<a href=""http://www.j-archive.com/media/2009-...",Heaven & Earth,kelly of the clue crew holds a kite in kyoto j...,heaven earth,kelly of the clue crew holds a kite in kyoto j...
21685,3735,2000-11-24,Double Jeopardy!,ENGLISH,1000.0,"This long word from 19th century America for ""...",Lollapalooza,this long word from 19th century america for a...,lollapalooza,this long word from 19th century america for a...
21686,4871,2005-11-14,Double Jeopardy!,POETS & POETRY,800.0,"""The Love Song of J. Alfred Prufrock"" asks, ""S...",a peach,the love song of j alfred prufrock asks shall ...,a peach,the love song of j alfred prufrock asks shall ...
21687,5302,2007-10-02,Jeopardy!,A HERCULEAN EFFORT,800.0,Hercules literally took the weight of the worl...,Atlas,hercules literally took the weight of the worl...,atlas,hercules literally took the weight of the worl...
21688,5503,2008-07-09,Jeopardy!,ART FOR ART'S SAKE,200.0,Salvador Dali once planned to build a table ma...,eggs,salvador dali once planned to build a table ma...,eggs,salvador dali once planned to build a table ma...
21689,5780,2009-10-30,Double Jeopardy!,JACKETS REQUIRED,1200.0,"For warmth, you can't beat this double-breaste...",a peacoat,for warmth you cant beat this doublebreasted n...,a peacoat,for warmth you cant beat this doublebreasted n...
21690,4488,2004-02-25,Double Jeopardy!,"""NEW""S",1200.0,Jay McInerney worked as a fact-checker at this...,The New Yorker,jay mcinerney worked as a factchecker at this ...,the new yorker,jay mcinerney worked as a factchecker at this ...
21691,4172,2002-10-22,Jeopardy!,TEST YOUR SHORT TERM MEMORY,800.0,One-syllable short term that's the equivalent ...,pope,onesyllable short term thats the equivalent of...,pope,onesyllable short term thats the equivalent of...
21692,5287,2007-09-11,Jeopardy!,FATHER OF THE BRIDE,600.0,"In 2002 Ralph Steadman, who took a wild trip t...",Las Vegas,in 2002 ralph steadman who took a wild trip to...,las vegas,in 2002 ralph steadman who took a wild trip to...

In [24]:
questions = df['everything'].values

In [25]:
#not super pythonic, no, not at all.
#use extend so it's a big flat list of vocab
totalvocab_stemmed = []
totalvocab_tokenized = []
for i in questions:
    allwords_stemmed = tokenize_and_stem(i) #for each item in 'synopses', tokenize/stem
    totalvocab_stemmed.extend(allwords_stemmed) #extend the 'totalvocab_stemmed' list
    
    allwords_tokenized = tokenize_only(i)
    totalvocab_tokenized.extend(allwords_tokenized)

In [26]:
vocab_frame = pd.DataFrame({'words': totalvocab_tokenized}, index = totalvocab_stemmed)

In [27]:
vocab_frame.head()

             words
theyr       theyre
immatur   immature
pigeon     pigeons
sometim  sometimes
rais        raised

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.externals import joblib

# tfidf_vectorizer = TfidfVectorizer(max_df=0.8, max_features=200000,
#                                  min_df=0.2, stop_words='english',
#                                  use_idf=True, tokenizer=tokenize_and_stem, ngram_range=(1,3))

tfidf_vectorizer = TfidfVectorizer(stop_words='english',
                                 tokenizer=tokenize_and_stem, ngram_range=(1,3))

# tfidf_vectorizer = TfidfVectorizer(stop_words='english',
#                                  tokenizer=tokenize_only, ngram_range=(1,3))

# %time tfidf_matrix = tfidf_vectorizer.fit_transform(questions)

tfidf_vectorizer.fit(questions)
joblib.dump(tfidf_vectorizer, 'tfidf_test.pkl')

# print(tfidf_matrix.shape)

['tfidf_test.pkl', 'tfidf_test.pkl_01.npy', 'tfidf_test.pkl_02.npy']

In [29]:
tfidf_vectorizer = joblib.load('tfidf_test.pkl')
tfidf_matrix = tfidf_vectorizer.transform(questions)

In [30]:
terms = tfidf_vectorizer.get_feature_names()

In [31]:
# from sklearn.metrics.pairwise import cosine_similarity
# dist = 1 - cosine_similarity(tfidf_matrix)

In [32]:
from sklearn.cluster import KMeans

num_clusters = 50

km = KMeans(n_clusters=num_clusters)

%time km.fit(tfidf_matrix)

clusters = km.labels_.tolist()

CPU times: user 3min 42s, sys: 12 s, total: 3min 54s
Wall time: 2min 11s

In [34]:
from sklearn.externals import joblib

joblib.dump(km,  'doc_cluster.pkl')
km = joblib.load('doc_cluster.pkl')
clusters = km.labels_.tolist()

In [35]:
len(clusters)

21687

In [36]:
df['Cluster'] = clusters

In [37]:
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,everything,Cluster
0,1376,1990-09-03,Jeopardy!,FOOD,400.0,They're immature pigeons sometimes raised for ...,squabs,theyre immature pigeons sometimes raised for food,squabs,theyre immature pigeons sometimes raised for f...,12
1,4345,2003-06-20,Jeopardy!,BIBLICAL QUOTES,800.0,"Paul wrote to Timothy, ""Drink no longer water,...",wine,paul wrote to timothy drink no longer water bu...,wine,paul wrote to timothy drink no longer water bu...,26
2,312,1985-11-19,Jeopardy!,WORD ORIGINS,100.0,"Though an insect larva, its name comes from Fr...",caterpillar,though an insect larva its name comes from fre...,caterpillar,though an insect larva its name comes from fre...,32
3,309,1985-11-14,Jeopardy!,INSECTS,400.0,The actual title of “Jimmy Crack Corn”,The Blue Tail Fly,the actual title of “jimmy crack corn”,the blue tail fly,the actual title of “jimmy crack corn” the blu...,2
4,5435,2008-04-04,Jeopardy!,MAKE IT STICK,200.0,This line of auto body products includes 4 Min...,Bondo,this line of auto body products includes 4 min...,bondo,this line of auto body products includes 4 min...,47

In [38]:
df['Cluster'].value_counts()

12    6779
3     1427
16     555
15     536
20     511
44     488
23     487
2      468
19     436
41     394
1      356
4      346
46     342
25     335
47     326
13     325
14     322
39     312
6      303
26     301
36     300
37     277
0      271
28     269
22     266
5      261
34     260
10     253
32     247
18     247
7      237
27     236
42     223
29     222
38     222
21     222
9      220
31     219
40     199
24     199
43     177
11     172
35     170
45     165
30     161
33     160
17     132
49     128
8      127
48      96
Name: Cluster, dtype: int64

In [39]:
from __future__ import print_function

print("Top terms per cluster:")
print()
order_centroids = km.cluster_centers_.argsort()[:, ::-1]
for i in range(num_clusters):
    print("Cluster %d words:" % i, end='')
    for ind in order_centroids[i, :20]:
        print(' %s' % vocab_frame.ix[terms[ind].split(' ')].values.tolist()[0][0].encode('utf-8', 'ignore'), end=',')
    print()
    print()
#     print("Cluster %d categories:" % i, end='')
#     for cat in df.ix[i]['Category']:#.values.tolist():
#         print(' %s,' % cat, end='')
    print()
    print()

Top terms per cluster:

Cluster 0 words: john, kennedy, john, f, john, f, john, paul, adam, playing, john, paul, pope, st, pope, pope, wrote, john, st, john,



Cluster 1 words: movie, tv, dog, playing, star, fame, series, films, hall, tv, hall, tv, jack, hot, actor, title, roles, hot, animal, produced,



Cluster 2 words: title, films, novel, character, title, playing, musical, robert, playing, story, star, hit, featured, classic, girl, king, wrote, published, based, song,



Cluster 3 words: type, islands, sea, because, ocean, greek, bay, red, run, body, return, color, feet, person, blooded, mile, trees, chambers, pressure, species,



Cluster 4 words: known, capital, best, islands, better, best, country, better, country, king, once, new, south, type, once, known, henry, dynasty, artist, artist,



Cluster 5 words: clue, clue, crew, sarah, sarah, sarah, clue, crew, reports, cheryl, cheryl, cheryl, kelly, kelly, kelly, jon, jon, jon, monitor, sofia,



Cluster 6 words: book, god, greek, title, chapter, greek, published, day, roman, includes, list, testament, chapter, thor, bible, genesis, written, children, begins, heavens,



Cluster 7 words: love, way, song, love, playing, lets, lucy, wrote, love, comedy, singing, singer, always, love, said, shakespeare, always, shakespeare, says, fred,



Cluster 8 words: october, taken, bridges, feb, cairo, crowd, photo, 6th, brooklyn, photo, photo, seen, cities, year, capital, london, day, seen, stock, premiered,



Cluster 9 words: presidents, vice, vice, jefferson, elected, serving, lincoln, davis, jefferson, country, thomas, thomas, presidents, governor, man, senate, serving, andrew, abraham, john,



Cluster 10 words: brother, group, hills, beverly, playing, blue, marx, marx, form, hit, bunker, bunker, killed, battle, lead, beverly, william, hills, brother, karamazov,



Cluster 11 words: war, civil, civil, battle, year, ended, year, star, during, spanishamerican, during, spanishamerican, fought, treaty, revolutionary, star, revolutionary, country, peace, korean,



Cluster 12 words: company, day, star, term, said, king, new, wrote, night, comes, musical, before, became, latin, people, william, home, says, song, born,



Cluster 13 words: im, games, based, hi, hi, big, win, playing, team, films, hit, player, musical, red, bowl, became, card, nfl, says, ive,



Cluster 14 words: year, later, year, every, every, year, ago, day, year, year, before, old, many, new, many, age, new, million, award, won,



Cluster 15 words: cities, capital, capital, home, largest, new, san, jerusalem, cities, kansas, kansas, south, paris, chicago, largest, populated, mayor, university, mexicos, born,



Cluster 16 words: country, playing, border, russia, japan, king, william, musical, roles, only, islands, spain, switzerland, african, portugal, set, australias, country, films, opera,



Cluster 17 words: won, oscar, won, prize, emmy, best, won, nobel, films, award, won, pulitzer, tony, won, won, olympic, won, gold, playing, nobel,



Cluster 18 words: lived, life, british, prime, minister, prime, country, serving, queen, novel, british, british, before, prime, taxed, israel, term, only, thatcher, films,



Cluster 19 words: man, george, washington, george, playing, king, bush, washington, dc, became, king, said, old, died, films, st, george, william, born, during,



Cluster 20 words: use, make, type, use, term, devices, term, people, hair, mean, seen, devices, number, items, greek, material, people, describe, before, small,



Cluster 21 words: american, south, south, american, country, native, native, south, american, flag, revolutions, american, american, american, north, idoler, american, central, federation, central,



Cluster 22 words: time, work, mr, said, real, erg, day, during, real, watching, thing, old, since, comes, life, does, tells, type, magoo, mr,



Cluster 23 words: state, unit, california, unit, new, state, florida, union, hawaii, only, state, official, university, mexicos, secretary, north, colorado, virginia, capital, massachusetts,



Cluster 24 words: england, richard, king, iii, nixon, richard, new, new, henry, queen, queen, elizabeth, richard, richard, burton, rule, viii, king, country, lord,



Cluster 25 words: seen, hes, type, man, variety, man, character, flower, flag, flag, films, logo, flower, character, star, trees, seen, playing, country, queen,



Cluster 26 words: house, little, white, white, speaker, represented, playing, speaker, house, novel, old, little, boy, presidents, man, cities, little, opera, lamb, girl,



Cluster 27 words: famous, painted, vans, vans, gogh, artist, seen, work, rembrandt, museum, gauguin, dyke, vans, dick, dick, big, dipper, starry, big, night,



Cluster 28 words: mean, adjective, adjective, latin, phrase, phrase, verb, verb, term, before, term, noun, someone, literally, type, literally, greek, form, prefix, dont,



Cluster 29 words: river, cities, mississippi, thames, mississippi, state, tigris, ohio, bridges, nile, volga, north, rises, missouri, mile, tributary, ohio, danube, south, lake,



Cluster 30 words: century, 19th, 19th, 20th, 20th, 18th, 18th, 17th, 17th, 16th, 14th, 16th, century, 14th, seen, century, early, early, 13th, early,



Cluster 31 words: animal, party, army, communist, communist, politics, politics, teas, army, officer, teas, lion, horse, ant, joins, type, whig, general, head, candidates,



Cluster 32 words: french, french, word, comes, mean, french, comes, revolutions, pierre, use, make, islands, old, french, french, english, julia, term, english, cities,



Cluster 33 words: new, york, new, york, new, cities, state, york, new, manhattan, borough, new, york, knicks, governor, york, new, york, new, stock,



Cluster 34 words: open, july, march, andrew, day, died, celebrate, sea, battle, song, announcement, stores, william, close, films, born, before, fight, bastille, independence,



Cluster 35 words: james, bonded, james, james, james, joyce, presidents, king, micheners, author, king, earl, man, oglethorpe, james, fenimore, rogers, jones, novel, madison,



Cluster 36 words: young, peter, tries, produced, stop, joe, jackson, kong, films, playing, hong, hong, man, hit, king, mighty, remake, otoole, peter, mvp,



Cluster 37 words: word, word, mean, comes, latin, comes, 5letter, greek, greek, 5letter, refers, word, latin, letter, following, term, preceding, old, german, derived,



Cluster 38 words: family, member, double, daily, daily, video, video, video, audio, audio, royale, audio, seen, royale, group, largest, language, henry, tied, star,



Cluster 39 words: national, national, park, museum, country, state, league, islands, canada, cities, league, anthem, mile, national, south, islands, holiday, organism, day, national,



Cluster 40 words: started, s, single, ulysses, harris, harris, s, truman, s, ulysses, ulysses, missouri, harris, grant, company, pearl, pearl, s, missouri, buck,



Cluster 41 words: like, sound, sound, looking, looking, term, something, type, says, like, seen, like, plant, group, comes, mean, certain, islands, place, like,



Cluster 42 words: great, great, britain, alexander, alexander, lake, peter, peter, great, bc, czar, fredericks, fredericks, king, dane, great, white, great, great, cities,



Cluster 43 words: egg, created, dishes, sauce, benedict, use, 1800s, fanciful, serving, cheese, type, cooks, egg, steak, baked, steak, a1, spicy, garlic, ads,



Cluster 44 words: make, water, letter, following, points, degrees, c, body, alphabetically, sea, body, says, only, temperature, greek, type, lake, boils, average, feel,



Cluster 45 words: know, dont, dont, youll, know, youll, playing, why, want, says, fans, letter, want, hit, term, asked, mean, song, many, like,



Cluster 46 words: worlds, worlds, largest, worlds, war, worlds, new, series, worlds, war, new, country, cities, capital, islands, during, ii, during, once, worlds,



Cluster 47 words: includes, spanish, seasoned, florida, honoring, holiday, easter, day, islands, novel, species, line, christmas, variety, author, springs, work, hit, number, type,



Cluster 48 words: jimmy, jimmy, jimmy, clue, clue, crew, clue, crew, reports, monitor, im, museum, use, clue, crew, like, gdansk, stands, cell, delivers,



Cluster 49 words: reach, tune, charts, clown, hit, pole, cathys, song, hit, musical, noted, circus, title, south, south, man, title, tune, heard, american,

### LDA Attempts - work in progress

In [44]:
#strip any proper names from a text...unfortunately right now this is yanking the first word from a sentence too.
def strip_proppers(text):
    # first tokenize by sentence, then by word to ensure that punctuation is caught as it's own token
    tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent) if word.islower()]
    return "".join([" "+i if not i.startswith("'") and i not in string.punctuation else i for i in tokens]).strip()

In [45]:
#strip any proper nouns (NNP) or plural proper nouns (NNPS) from a text
from nltk.tag import pos_tag

def strip_proppers_POS(text):
    tagged = pos_tag(text.split()) #use NLTK's part of speech tagger
    non_propernouns = [word for word,pos in tagged if pos != 'NNP' and pos != 'NNPS']
    return non_propernouns

In [47]:
from gensim import corpora, models, similarities 

#remove proper names
%time preprocess = [strip_proppers(doc) for doc in questions]

#tokenize
%time tokenized_text = [tokenize_and_stem(text) for text in preprocess]

#remove stop words
%time texts = [[word for word in text if word not in stopwords] for text in tokenized_text]

CPU times: user 4.21 s, sys: 20 ms, total: 4.23 s
Wall time: 4.21 s
CPU times: user 9.58 s, sys: 76 ms, total: 9.65 s
Wall time: 9.57 s
CPU times: user 1.34 s, sys: 28 ms, total: 1.37 s
Wall time: 1.32 s

In [48]:
#create a Gensim dictionary from the texts
dictionary = corpora.Dictionary(texts)

#remove extremes (similar to the min/max df step used when creating the tf-idf matrix)
dictionary.filter_extremes(no_below=1, no_above=0.8)

#convert the dictionary to a bag of words corpus for reference
corpus = [dictionary.doc2bow(text) for text in texts]

In [50]:
%time lda = models.LdaModel(corpus, num_topics=5, id2word=dictionary, update_every=5, chunksize=10000, passes=100)

CPU times: user 28min 56s, sys: 1.22 s, total: 28min 57s
Wall time: 28min 57s

In [51]:
lda.show_topics()

[(0,
  u'0.011*citi + 0.011*state + 0.007*countri + 0.007*new + 0.007*name + 0.007*nation + 0.006*one + 0.006*us + 0.006*first + 0.005*world'),
 (1,
  u'0.009*film + 0.009*play + 0.006*titl + 0.005*one + 0.005*show + 0.004*star + 0.004*day + 0.004*song + 0.004*music + 0.004*man'),
 (2,
  u'0.009*one + 0.008*name + 0.008*war + 0.005*first + 0.005*presid + 0.004*henri + 0.003*king + 0.003*seen + 0.003*american + 0.003*year'),
 (3,
  u'0.014*name + 0.006*mean + 0.005*call + 0.005*island + 0.005*king + 0.004*like + 0.004*may + 0.004*one + 0.004*first + 0.003*use'),
 (4,
  u'0.007*type + 0.006*sea + 0.005*name + 0.005*use + 0.004*one + 0.004*clue + 0.004*first + 0.003*anim + 0.003*seen + 0.003*crew')]

In [67]:
topics_matrix = lda.show_topics(formatted=False, num_words=20)
topics_matrix = np.array(topics_matrix)

topic_words = topics_matrix[:,:,1]
for i in topic_words:
    print([str(word) for word in i])
    print()

ValueError: setting an array element with a sequence

In [79]:
for i in range(len(topics_matrix)):
    print(i)

0
1
2
3
4