In [1]:
import pandas as pd
import numpy as np
import nltk
import re
import string

### For some reason, there are broken table tags in a lot of the tables below when they're rendered on Github. They don't actually look like that

In [2]:
# df = pd.read_csv('data/JEOPARDY_CSV.csv', encoding='utf-8')
full_df = pd.read_csv('../data/JEOPARDY_CSV.csv', encoding='utf-8')
print full_df.shape
full_df.head()

(216930, 7)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [3]:
df = full_df.sample(frac=0.01)
df.reset_index(drop=True, inplace=True)

In [4]:
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4666,2004-12-13,Jeopardy!,DON WE NOW OUR GUY APPAREL,$200,"The 2 numbers on a man's dress shirt, 16/34 fo...",neck size and sleeve length
1,5549,2008-10-23,Jeopardy!,VERBS,$1000,This verb means to use another's work without ...,to pirate
2,6238,2011-11-02,Jeopardy!,PAY BALL!,$600,"This player nicknamed ""Big Papi"" pulls down $1...",David Ortiz
3,4657,2004-11-30,Double Jeopardy!,FUNNY HATS,$2000,"In Wagner's operas, this eldest Valkyrie is st...",Brunhilde
4,2873,1997-02-12,Jeopardy!,WOMEN AUTHORS,$200,Kim Wozencraft & Dorothy Uhnak used their expe...,Policewomen

In [5]:
# Remove the dumb spaces
df.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question', 'Answer']

# Convert to Datetime
df['Air Date'] = pd.to_datetime(df['Air Date'])

# Clean out Value column
df['Value'] = df['Value'].str.replace('$','')
df['Value'] = df['Value'].str.replace(',','')
df['Value'] = df['Value'].apply(lambda x: None if x == 'None' else int(x))
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4666,2004-12-13,Jeopardy!,DON WE NOW OUR GUY APPAREL,200.0,"The 2 numbers on a man's dress shirt, 16/34 fo...",neck size and sleeve length
1,5549,2008-10-23,Jeopardy!,VERBS,1000.0,This verb means to use another's work without ...,to pirate
2,6238,2011-11-02,Jeopardy!,PAY BALL!,600.0,"This player nicknamed ""Big Papi"" pulls down $1...",David Ortiz
3,4657,2004-11-30,Double Jeopardy!,FUNNY HATS,2000.0,"In Wagner's operas, this eldest Valkyrie is st...",Brunhilde
4,2873,1997-02-12,Jeopardy!,WOMEN AUTHORS,200.0,Kim Wozencraft & Dorothy Uhnak used their expe...,Policewomen

In [6]:
df['Question'].value_counts()[0:5]

He explained his "Decision Points" in the 2010 book of that name                                                 1
As a boy in Kansas, he said his dream was to be a Major League Baseball player; he went into the Army instead    1
Remixes from her "Post" album are featured on this Icelandic pop star's 1996 album "Telegram"                    1
The name of this third male human to be mentioned in Genesis means "breath" in Hebrew                            1
Gentile da Fabriano used the international Gothic style for his painting "The Adoration Of" this trio            1
Name: Question, dtype: int64

In [7]:
df.shape

(2169, 7)

In [8]:
# Drop some useless questions
df = df[df['Question'] != '[audio clue]']
df = df[df['Question'] != '[video clue]']
df = df[df['Question'] != '[filler]']
df = df[df['Question'] != '(audio clue)']

In [9]:
df.shape

(2168, 7)

In [10]:
# load nltk's English stopwords as variable called 'stopwords'
stopwords = nltk.corpus.stopwords.words('english')
print len(stopwords)
print stopwords[:10]

153
[u'i', u'me', u'my', u'myself', u'we', u'our', u'ours', u'ourselves', u'you', u'your']

In [11]:
# load nltk's SnowballStemmer as variabled 'stemmer'
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")

In [12]:
# here I define a tokenizer and stemmer which returns the set of stems in the text that it is passed

def tokenize_and_stem(text):
    # first tokenize by sentence, then by word to ensure that punctuation is caught as it's own token
    tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # filter out any tokens not containing letters (e.g., numeric tokens, raw punctuation)
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    stems = [stemmer.stem(t) for t in filtered_tokens]
    return stems


def tokenize_only(text):
    # first tokenize by sentence, then by word to ensure that punctuation is caught as it's own token
    tokens = [word.lower() for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # filter out any tokens not containing letters (e.g., numeric tokens, raw punctuation)
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    return filtered_tokens

In [13]:
def create_clean_columns(df):    
    df['clean_question'] = df['Question'].apply(cleanhtml)
    df['clean_answer'] = df['Answer'].apply(cleanhtml)
    df['clean_category'] = df['Category'].apply(cleanhtml)
    df['everything'] = df['clean_question']+' '+df['clean_answer']+' '+df['clean_category']
    return df

def cleanhtml(raw_html):
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', raw_html)
    cleantext = cleantext.replace('\n', '')
#     cleantext = cleantext.translate(None, string.punctuation)
#     cleantext = cleantext.replace('\'', '')
    regex = re.compile('[%s]' % re.escape(string.punctuation))
    cleantext = regex.sub('', cleantext)
    cleantext = cleantext.lower()
    return cleantext

In [14]:
create_clean_columns(df)

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_category,everything
0,4666,2004-12-13,Jeopardy!,DON WE NOW OUR GUY APPAREL,200.0,"The 2 numbers on a man's dress shirt, 16/34 fo...",neck size and sleeve length,the 2 numbers on a mans dress shirt 1634 for e...,neck size and sleeve length,don we now our guy apparel,the 2 numbers on a mans dress shirt 1634 for e...
1,5549,2008-10-23,Jeopardy!,VERBS,1000.0,This verb means to use another's work without ...,to pirate,this verb means to use anothers work without p...,to pirate,verbs,this verb means to use anothers work without p...
2,6238,2011-11-02,Jeopardy!,PAY BALL!,600.0,"This player nicknamed ""Big Papi"" pulls down $1...",David Ortiz,this player nicknamed big papi pulls down 125 ...,david ortiz,pay ball,this player nicknamed big papi pulls down 125 ...
3,4657,2004-11-30,Double Jeopardy!,FUNNY HATS,2000.0,"In Wagner's operas, this eldest Valkyrie is st...",Brunhilde,in wagners operas this eldest valkyrie is ster...,brunhilde,funny hats,in wagners operas this eldest valkyrie is ster...
4,2873,1997-02-12,Jeopardy!,WOMEN AUTHORS,200.0,Kim Wozencraft & Dorothy Uhnak used their expe...,Policewomen,kim wozencraft dorothy uhnak used their exper...,policewomen,women authors,kim wozencraft dorothy uhnak used their exper...
5,968,1988-11-16,Double Jeopardy!,FAMOUS WOMEN,400.0,In 1955 this miniskirt innovator opened her fi...,Mary Quant,in 1955 this miniskirt innovator opened her fi...,mary quant,famous women,in 1955 this miniskirt innovator opened her fi...
6,4646,2004-11-15,Jeopardy!,HORNED ANIMALS,800.0,This North American animal's population had dr...,the buffalo (or the bison),this north american animals population had dro...,the buffalo or the bison,horned animals,this north american animals population had dro...
7,4031,2002-02-25,Double Jeopardy!,BEHIND THE MUSIC,800.0,"<a href=""http://www.j-archive.com/media/2002-0...",Grease,this 50s high school love story thats thrilled...,grease,behind the music,this 50s high school love story thats thrilled...
8,4455,2004-01-09,Jeopardy!,RITE ON!,400.0,"Among the 5 pillars of this religion is Salat,...",Islam,among the 5 pillars of this religion is salat ...,islam,rite on,among the 5 pillars of this religion is salat ...
9,3019,1997-10-16,Double Jeopardy!,STRAIT TALK,1000.0,"On July 3, 1988 an Iranian airliner enroute to...",the Strait of Hormuz,on july 3 1988 an iranian airliner enroute to ...,the strait of hormuz,strait talk,on july 3 1988 an iranian airliner enroute to ...
10,5468,2008-05-21,Jeopardy!,POTPOURRI,200.0,"A special flower for April, it can be oxeye or...",a daisy,a special flower for april it can be oxeye or ...,a daisy,potpourri,a special flower for april it can be oxeye or ...
11,4684,2005-01-06,Jeopardy!,NOW THAT'S INVENTIVE!,200.0,"In 1889 this Elizabethport, New Jersey company...",Singer,in 1889 this elizabethport new jersey company ...,singer,now thats inventive,in 1889 this elizabethport new jersey company ...
12,4538,2004-05-05,Double Jeopardy!,CHARACTERS IN BOOKS,1200.0,"With a little imagination & his purple crayon,...",Harold,with a little imagination his purple crayon h...,harold,characters in books,with a little imagination his purple crayon h...
13,3014,1997-10-09,Jeopardy!,TV TWINS,200.0,Name shared by Phoebe's twin (also played by L...,Ursula,name shared by phoebes twin also played by lis...,ursula,tv twins,name shared by phoebes twin also played by lis...
14,3637,2000-05-30,Double Jeopardy!,"""HOTEL""s",800.0,Greta Garbo & John Barrymore are 2 of the gues...,Grand Hotel,greta garbo john barrymore are 2 of the guest...,grand hotel,hotels,greta garbo john barrymore are 2 of the guest...
15,5122,2006-12-12,Double Jeopardy!,CHURCHES & CATHEDRALS,2000.0,"In Ulm, Germany the tallest spire in the world...",gothic,in ulm germany the tallest spire in the world ...,gothic,churches cathedrals,in ulm germany the tallest spire in the world ...
16,3495,1999-11-12,Double Jeopardy!,STORY PROBLEMS,800.0,"Hank's mobile home is this long, 1 3/4 times l...",14 feet,hanks mobile home is this long 1 34 times long...,14 feet,story problems,hanks mobile home is this long 1 34 times long...
17,5600,2009-01-02,Jeopardy!,"""F"" I DO SAY SO",1000.0,This compound word is a forward artillery posi...,a firebase,this compound word is a forward artillery posi...,a firebase,f i do say so,this compound word is a forward artillery posi...
18,4255,2003-02-14,Jeopardy!,NECCO SWEETHEARTS,200.0,"2-letter word that precedes ""mine"", ""good"" & ""...",be,2letter word that precedes mine good true on ...,be,necco sweethearts,2letter word that precedes mine good true on ...
19,4542,2004-05-11,Jeopardy!,"N""AA""CP",400.0,The professor who created this holiday added a...,Kwanzaa,the professor who created this holiday added a...,kwanzaa,naacp,the professor who created this holiday added a...
20,3907,2001-09-04,Double Jeopardy!,MARK TWAIN SEZ,1000.0,"In an essay, Twain said surely no language is ...",German,in an essay twain said surely no language is s...,german,mark twain sez,in an essay twain said surely no language is s...
21,5306,2007-10-08,Jeopardy!,THIS MEANS WAR!,1000.0,"The Hundred Years' War, 1337 to 1453, was foug...",France,the hundred years war 1337 to 1453 was fought ...,france,this means war,the hundred years war 1337 to 1453 was fought ...
22,6114,2011-03-24,Double Jeopardy!,DANCE WITH ME!,2000.0,"In Catholic theology, it's a region reserved f...",limbo,in catholic theology its a region reserved for...,limbo,dance with me,in catholic theology its a region reserved for...
23,4837,2005-09-27,Double Jeopardy!,GONE WITH THE WIND,800.0,"In 1968, this sewing machine company's New Yor...",Singer,in 1968 this sewing machine companys new york ...,singer,gone with the wind,in 1968 this sewing machine companys new york ...
24,5759,2009-10-01,Jeopardy!,STUPID ANSWERS: GERMAN EDITION,800.0,Ein Museum fur moderne Kunst is this specific ...,a museum of modern art,ein museum fur moderne kunst is this specific ...,a museum of modern art,stupid answers german edition,ein museum fur moderne kunst is this specific ...
25,3319,1999-01-28,Jeopardy!,PAPERBACK WRITERS,500.0,This thriller writer was set when she earned $...,Mary Higgins Clark,this thriller writer was set when she earned 1...,mary higgins clark,paperback writers,this thriller writer was set when she earned 1...
26,3557,2000-02-08,Double Jeopardy!,HOT ENOUGH FOR YOU?,200.0,The Union of Concerned Scientists says thermal...,Sea level,the union of concerned scientists says thermal...,sea level,hot enough for you,the union of concerned scientists says thermal...
27,5458,2008-05-07,Jeopardy!,I LIKE TO DECORATE,400.0,My parties on the theme of this traditional fe...,luau,my parties on the theme of this traditional fe...,luau,i like to decorate,my parties on the theme of this traditional fe...
28,3115,1998-02-27,Jeopardy!,WORLD CAPITALS,500.0,A revolving restaurant spins atop the hot wate...,Reykjavik,a revolving restaurant spins atop the hot wate...,reykjavik,world capitals,a revolving restaurant spins atop the hot wate...
29,4390,2003-10-10,Double Jeopardy!,"BAG ""DAD""",1200.0,A thingamabob or trinket,doodad,a thingamabob or trinket,doodad,bag dad,a thingamabob or trinket doodad bag dad
...,...,...,...,...,...,...,...,...,...,...,...
2139,5587,2008-12-16,Double Jeopardy!,FOOD,400.0,The name of this preserve often made from oran...,marmalade,the name of this preserve often made from oran...,marmalade,food,the name of this preserve often made from oran...
2140,5619,2009-01-29,Double Jeopardy!,"THIS MEANS ""WAR""",1200.0,"Have some cherry pie & name <a href=""http://ww...",Warrant,have some cherry pie name this group,warrant,this means war,have some cherry pie name this group warrant ...
2141,5944,2010-06-17,Double Jeopardy!,COMPLETE THE MOVIE QUOTE,1600.0,"""Fargo"": ""And I guess that was your accomplic...",wood chipper,fargo and i guess that was your accomplice in...,wood chipper,complete the movie quote,fargo and i guess that was your accomplice in...
2142,6290,2012-01-13,Jeopardy!,FLOAT SAM & JET SAM,200.0,In 1613 British Admiral Samuel Argall sailed u...,Pocahontas,in 1613 british admiral samuel argall sailed u...,pocahontas,float sam jet sam,in 1613 british admiral samuel argall sailed u...
2143,4816,2005-07-11,Jeopardy!,DODGER,800.0,"In 1981 this Dodger pitcher nicknamed ""El Toro...",(Fernando) Valenzuela,in 1981 this dodger pitcher nicknamed el toro ...,fernando valenzuela,dodger,in 1981 this dodger pitcher nicknamed el toro ...
2144,4966,2006-03-27,Jeopardy!,ONOMATOPOEIA,1000.0,This word that describes a tearful cry is a ho...,a bawl,this word that describes a tearful cry is a ho...,a bawl,onomatopoeia,this word that describes a tearful cry is a ho...
2145,1199,1989-11-16,Jeopardy!,WORLD GEOGRAPHY,500.0,There used to be 2 countries with this name; n...,Congo,there used to be 2 countries with this name no...,congo,world geography,there used to be 2 countries with this name no...
2146,3574,2000-03-02,Double Jeopardy!,"""S"" & ""M""",2500.0,"Georgia site seen <a href=""http://www.j-archiv...",Stone Mountain,georgia site seen here,stone mountain,s m,georgia site seen here stone mountain s m
2147,3563,2000-02-16,Jeopardy!,BAD NEWS,300.0,Philip II learned that his 1588 invasion of En...,Spanish Armada,philip ii learned that his 1588 invasion of en...,spanish armada,bad news,philip ii learned that his 1588 invasion of en...
2148,1426,1990-11-12,Double Jeopardy!,RULERS,200.0,"At her execution in 1587, this Scottish queen ...","Mary, Queen of Scots",at her execution in 1587 this scottish queen s...,mary queen of scots,rulers,at her execution in 1587 this scottish queen s...
2149,5694,2009-05-14,Jeopardy!,ECON 101,800.0,Alliterative term for what you've got when spe...,a balanced budget,alliterative term for what youve got when spen...,a balanced budget,econ 101,alliterative term for what youve got when spen...
2150,5828,2010-01-06,Jeopardy!,YOU'VE BEEN TRADED,200.0,"On Dec. 26, 1919 the Red Sox traded this man t...",Babe Ruth,on dec 26 1919 the red sox traded this man to ...,babe ruth,youve been traded,on dec 26 1919 the red sox traded this man to ...
2151,4639,2004-11-05,Double Jeopardy!,EVENTS IN THE OLYMPIC DECATHLON,1600.0,"The 2 events with ""jump"" in their names",long jump & high jump,the 2 events with jump in their names,long jump high jump,events in the olympic decathlon,the 2 events with jump in their names long jum...
2152,5547,2008-10-21,Jeopardy!,BORN TO BE MILD,600.0,This writer began communing with nature on Jul...,Henry David Thoreau,this writer began communing with nature on jul...,henry david thoreau,born to be mild,this writer began communing with nature on jul...
2153,4533,2004-04-28,Double Jeopardy!,ELTON JOHN SONGS,2000.0,"""I can't light no more of your darkness, all m...","""Don't Let The Sun Go Down On Me""",i cant light no more of your darkness all my p...,dont let the sun go down on me,elton john songs,i cant light no more of your darkness all my p...
2154,3698,2000-10-04,Double Jeopardy!,MUSICALS,200.0,"Lois Lane is the heroine of the musical ""It's ...",Superman,lois lane is the heroine of the musical its a ...,superman,musicals,lois lane is the heroine of the musical its a ...
2155,2055,1993-07-09,Jeopardy!,1899,100.0,In June this outlaw led The Sundance Kid and t...,Butch Cassidy,in june this outlaw led the sundance kid and t...,butch cassidy,1899,in june this outlaw led the sundance kid and t...
2156,1424,1990-11-08,Double Jeopardy!,FOOD,200.0,"When spaghetti is cooked ""al dente"", it means ...",the teeth,when spaghetti is cooked al dente it means its...,the teeth,food,when spaghetti is cooked al dente it means its...
2157,5218,2007-04-25,Double Jeopardy!,THE HERMIT,2000.0,Part of each day as a hermit might include thi...,flagellation,part of each day as a hermit might include thi...,flagellation,the hermit,part of each day as a hermit might include thi...
2158,6027,2010-11-23,Jeopardy!,"PASS THE ""URK""-Y",1000.0,"Known for their courage & ferocity, these Nepa...",Gurkhas,known for their courage ferocity these nepale...,gurkhas,pass the urky,known for their courage ferocity these nepale...
2159,3634,2000-05-25,Double Jeopardy!,HELLO KITTY,1000.0,"Riddle me this: Despite its name, you'd be har...",Sphinx,riddle me this despite its name youd be hard p...,sphinx,hello kitty,riddle me this despite its name youd be hard p...
2160,3648,2000-06-14,Double Jeopardy!,OREGONE,400.0,A grand hotel on what's now this city's Pionee...,Portland,a grand hotel on whats now this citys pioneer ...,portland,oregone,a grand hotel on whats now this citys pioneer ...
2161,3938,2001-10-17,Double Jeopardy!,SPORTS PEOPLE WHO ARE PLACES,200.0,If he blows a last second shot for the N.Y. Kn...,Allan Houston,if he blows a last second shot for the ny knic...,allan houston,sports people who are places,if he blows a last second shot for the ny knic...
2162,5634,2009-02-19,Jeopardy!,GO DIRECTLY TO YALE,200.0,Both George W. Bush & this 2004 election oppon...,John Kerry,both george w bush this 2004 election opponen...,john kerry,go directly to yale,both george w bush this 2004 election opponen...
2163,3193,1998-06-17,Jeopardy!,ANAGRAMMED COUNTRIES,500.0,Sand Hour,Honduras,sand hour,honduras,anagrammed countries,sand hour honduras anagrammed countries
2164,5449,2008-04-24,Jeopardy!,A GAME OF CHESS,600.0,It's the only chess piece that can jump over o...,the knight,its the only chess piece that can jump over ot...,the knight,a game of chess,its the only chess piece that can jump over ot...
2165,4352,2003-07-01,Jeopardy!,TV HOSPITALS,600.0,"On this series that debuted in 1972, Squad 51 ...",Emergency!,on this series that debuted in 1972 squad 51 t...,emergency,tv hospitals,on this series that debuted in 1972 squad 51 t...
2166,2048,1993-06-30,Jeopardy!,FASHION,300.0,The usual color of the 19th century women's bl...,red,the usual color of the 19th century womens blo...,red,fashion,the usual color of the 19th century womens blo...
2167,3845,2001-04-27,Jeopardy!,COULD YOU TRANSLATE THAT FOR ME?,200.0,It's the English translation of the German wor...,sweetheart,its the english translation of the german word...,sweetheart,could you translate that for me,its the english translation of the german word...
2168,4513,2004-03-31,Jeopardy!,MADONNA SONGS,200.0,"A ""pure"" hit: ""Touched for the very first time""",Like A Virgin,a pure hit touched for the very first time,like a virgin,madonna songs,a pure hit touched for the very first time lik...

In [15]:
# questions = df['clean_question'].values
questions = df['everything'].values
# categories = df['clean_category'].values
# answers = df['clean_answer'].values

In [16]:
#use extend so it's a big flat list of vocab
totalvocab_stemmed = []
totalvocab_tokenized = []
for i in questions:
    allwords_stemmed = tokenize_and_stem(i) #for each item in 'questions', tokenize/stem
    totalvocab_stemmed.extend(allwords_stemmed) #extend the 'totalvocab_stemmed' list
    
    allwords_tokenized = tokenize_only(i)
    totalvocab_tokenized.extend(allwords_tokenized)

In [17]:
vocab_frame = pd.DataFrame({'words': totalvocab_tokenized}, index = totalvocab_stemmed)

In [18]:
vocab_frame.head(20)

              words
the             the
number      numbers
on               on
a                 a
man            mans
dress         dress
shirt         shirt
for             for
exampl      example
are             are
usual       usually
measur  measurments
of               of
these         these
thing        things
neck           neck
size           size
and             and
sleev        sleeve
length       length

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.externals import joblib

# tfidf_vectorizer = TfidfVectorizer(max_df=0.8, max_features=200000,
#                                  min_df=0.2, stop_words='english',
#                                  use_idf=True, tokenizer=tokenize_and_stem, ngram_range=(1,3))

tfidf_vectorizer = TfidfVectorizer(stop_words='english',
                                 tokenizer=tokenize_and_stem, ngram_range=(1,3))

# tfidf_vectorizer = TfidfVectorizer(stop_words='english',
#                                  tokenizer=tokenize_only, ngram_range=(1,3))

# %time tfidf_matrix = tfidf_vectorizer.fit_transform(questions)

tfidf_vectorizer.fit(questions)

# More memory efficient to dump the model and then load it
joblib.dump(tfidf_vectorizer, 'tfidf_test.pkl')

['tfidf_test.pkl', 'tfidf_test.pkl_01.npy', 'tfidf_test.pkl_02.npy']

In [20]:
tfidf_vectorizer = joblib.load('tfidf_test.pkl')
tfidf_matrix = tfidf_vectorizer.transform(questions)

In [21]:
terms = tfidf_vectorizer.get_feature_names()

In [22]:
from sklearn.metrics.pairwise import cosine_similarity
dist = 1 - cosine_similarity(tfidf_matrix)

In [23]:
from sklearn.cluster import KMeans

num_clusters = 50

km = KMeans(n_clusters=num_clusters)

%time km.fit(tfidf_matrix)

clusters = km.labels_.tolist()

CPU times: user 4.47 s, sys: 64 ms, total: 4.53 s
Wall time: 2.7 s

In [27]:
df['Cluster'] = clusters

In [28]:
df['Cluster'].value_counts()

4     292
13     74
23     65
24     63
28     58
29     55
16     53
27     53
6      52
17     51
21     51
40     50
32     49
11     47
5      46
47     45
37     45
15     43
48     43
8      42
25     41
3      39
20     39
22     39
12     38
34     36
43     36
39     36
44     35
38     35
26     33
33     33
42     33
31     33
7      32
46     32
41     32
36     30
35     28
2      28
19     28
45     25
10     24
9      24
30     23
18     22
49     20
1      13
0      13
14     11
Name: Cluster, dtype: int64

In [39]:
from __future__ import print_function

cluster_words = []
print("Top terms per cluster:")
print()
order_centroids = km.cluster_centers_.argsort()[:, ::-1] 

for i in range(num_clusters):
    print("Cluster %d words:" % i, end='')
    cluster_words.append([])
    for ind in order_centroids[i, :5]: #replace 10 with n words per cluster
        print(' %s' % vocab_frame.ix[terms[ind].split(' ')].values.tolist()[0][0].encode('utf-8', 'ignore'), end=',')
        cluster_words[i].append('%s' % vocab_frame.ix[terms[ind].split(' ')].values.tolist()[0][0].encode('utf-8', 'ignore'))
    print() #add whitespace
    print() #add whitespace
    
#     print("Cluster %d categories:" % i, end='')
#     for cat in df.ix[i]['Category']#.values.tolist():
#         print(' %s,' % title, end='')
#     print() #add whitespace
#     print() #add whitespace
    
# print()
# print()

Top terms per cluster:

Cluster 0 words: pirate, gas, ship, verb, jason,

Cluster 1 words: sound, according, music, whistle, sound,

Cluster 2 words: century, 19th, 19th, women, married,

Cluster 3 words: historically, said, charles, hospital, people,

Cluster 4 words: ill, known, stars, middle, make,

Cluster 5 words: capitals, world, world, city, paris,

Cluster 6 words: city, races, newspapers, annual, college,

Cluster 7 words: years, species, animals, bird, kingdom,

Cluster 8 words: seen, radio, war, world, world,

Cluster 9 words: opened, town, house, massachusetts, miller,

Cluster 10 words: stone, elvis, female, mary, presleys,

Cluster 11 words: america, use, miss, word, precedes,

Cluster 12 words: saintly, born, history, peter, patron,

Cluster 13 words: film, titled, movie, asked, come,

Cluster 14 words: highest, income, mountain, highest, point,

Cluster 15 words: states, shared, oklahoma, official, mississippi,

Cluster 16 words: country, became, world, country, future,

Cluster 17 words: means, term, phrase, word, origin,

Cluster 18 words: william, sir, astronomer, discovering, court,

Cluster 19 words: fun, category, prize, mainly, nobel,

Cluster 20 words: sea, oil, equals, friends, reserved,

Cluster 21 words: lines, game, ball, services, recognize,

Cluster 22 words: good, home, land, ways, away,

Cluster 23 words: song, music, stands, chicago, classic,

Cluster 24 words: word, like, early, egg, vaudeville,

Cluster 25 words: food, treat, drinking, brains, activity,

Cluster 26 words: war, died, cold, russian, means,

Cluster 27 words: nations, park, forest, mount, nations,

Cluster 28 words: clue, crew, clue, john, classic,

Cluster 29 words: new, york, new, production, leading,

Cluster 30 words: blue, gems, henry, jewelry, diamonds,

Cluster 31 words: flag, dont, james, oliver, perry,

Cluster 32 words: team, world, series, record, win,

Cluster 33 words: british, days, elizabeth, queen, remembers,

Cluster 34 words: july, naturally, dad, julia, nixon,

Cluster 35 words: islands, largest, canadian, country, rhode,

Cluster 36 words: operas, love, english, card, presented,

Cluster 37 words: lake, body, water, form, body,

Cluster 38 words: authors, colorful, pulitzer, purple, walker,

Cluster 39 words: rhyming, times, rhyming, agents, celebrates,

Cluster 40 words: mans, young, life, old, greatest,

Cluster 41 words: hall, major, fame, baseball, hall,

Cluster 42 words: french, rose, school, come, cooking,

Cluster 43 words: holiday, celebrates, events, trios, men,

Cluster 44 words: books, battle, took, war, butter,

Cluster 45 words: numbers, senators, states, states, senators,

Cluster 46 words: president, presidential, vice, vice, elections,

Cluster 47 words: type, cat, only, dog, tail,

Cluster 48 words: great, kings, brother, succeeded, alfred,

Cluster 49 words: novels, room, chapter, em, view,

In [40]:
len(cluster_words)

50

In [48]:
cluster_names = []

for item in cluster_words:
    string = ''
    for i in item:
        string += i
        string += ' '
    cluster_names.append(string)

In [49]:
cluster_names

['pirate gas ship verb jason ',
 'sound according music whistle sound ',
 'century 19th 19th women married ',
 'historically said charles hospital people ',
 'ill known stars middle make ',
 'capitals world world city paris ',
 'city races newspapers annual college ',
 'years species animals bird kingdom ',
 'seen radio war world world ',
 'opened town house massachusetts miller ',
 'stone elvis female mary presleys ',
 'america use miss word precedes ',
 'saintly born history peter patron ',
 'film titled movie asked come ',
 'highest income mountain highest point ',
 'states shared oklahoma official mississippi ',
 'country became world country future ',
 'means term phrase word origin ',
 'william sir astronomer discovering court ',
 'fun category prize mainly nobel ',
 'sea oil equals friends reserved ',
 'lines game ball services recognize ',
 'good home land ways away ',
 'song music stands chicago classic ',
 'word like early egg vaudeville ',
 'food treat drinking brains activity ',
 'war died cold russian means ',
 'nations park forest mount nations ',
 'clue crew clue john classic ',
 'new york new production leading ',
 'blue gems henry jewelry diamonds ',
 'flag dont james oliver perry ',
 'team world series record win ',
 'british days elizabeth queen remembers ',
 'july naturally dad julia nixon ',
 'islands largest canadian country rhode ',
 'operas love english card presented ',
 'lake body water form body ',
 'authors colorful pulitzer purple walker ',
 'rhyming times rhyming agents celebrates ',
 'mans young life old greatest ',
 'hall major fame baseball hall ',
 'french rose school come cooking ',
 'holiday celebrates events trios men ',
 'books battle took war butter ',
 'numbers senators states states senators ',
 'president presidential vice vice elections ',
 'type cat only dog tail ',
 'great kings brother succeeded alfred ',
 'novels room chapter em view ']

### Visualization attempts

In [31]:
import os  # for os.path.basename

import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline

from sklearn.manifold import MDS

MDS()

# convert two components as we're plotting points in a two-dimensional plane
# "precomputed" because we provide a distance matrix
# we will also specify `random_state` so the plot is reproducible.
mds = MDS(n_components=2, dissimilarity="precomputed", random_state=1)

pos = mds.fit_transform(dist)  # shape (n_components, n_samples)

xs, ys = pos[:, 0], pos[:, 1]

In [56]:
cluster_dict = dict(zip(range(50), cluster_names))

In [57]:
cluster_dict

{0: 'pirate gas ship verb jason ',
 1: 'sound according music whistle sound ',
 2: 'century 19th 19th women married ',
 3: 'historically said charles hospital people ',
 4: 'ill known stars middle make ',
 5: 'capitals world world city paris ',
 6: 'city races newspapers annual college ',
 7: 'years species animals bird kingdom ',
 8: 'seen radio war world world ',
 9: 'opened town house massachusetts miller ',
 10: 'stone elvis female mary presleys ',
 11: 'america use miss word precedes ',
 12: 'saintly born history peter patron ',
 13: 'film titled movie asked come ',
 14: 'highest income mountain highest point ',
 15: 'states shared oklahoma official mississippi ',
 16: 'country became world country future ',
 17: 'means term phrase word origin ',
 18: 'william sir astronomer discovering court ',
 19: 'fun category prize mainly nobel ',
 20: 'sea oil equals friends reserved ',
 21: 'lines game ball services recognize ',
 22: 'good home land ways away ',
 23: 'song music stands chicago classic ',
 24: 'word like early egg vaudeville ',
 25: 'food treat drinking brains activity ',
 26: 'war died cold russian means ',
 27: 'nations park forest mount nations ',
 28: 'clue crew clue john classic ',
 29: 'new york new production leading ',
 30: 'blue gems henry jewelry diamonds ',
 31: 'flag dont james oliver perry ',
 32: 'team world series record win ',
 33: 'british days elizabeth queen remembers ',
 34: 'july naturally dad julia nixon ',
 35: 'islands largest canadian country rhode ',
 36: 'operas love english card presented ',
 37: 'lake body water form body ',
 38: 'authors colorful pulitzer purple walker ',
 39: 'rhyming times rhyming agents celebrates ',
 40: 'mans young life old greatest ',
 41: 'hall major fame baseball hall ',
 42: 'french rose school come cooking ',
 43: 'holiday celebrates events trios men ',
 44: 'books battle took war butter ',
 45: 'numbers senators states states senators ',
 46: 'president presidential vice vice elections ',
 47: 'type cat only dog tail ',
 48: 'great kings brother succeeded alfred ',
 49: 'novels room chapter em view '}

In [ ]:
#set up colors per clusters using a dict
cluster_colors = {0: '#1b9e77', 1: '#d95f02', 2: '#7570b3', 3: '#e7298a', 4: '#66a61e'}

In [60]:
#some ipython magic to show the matplotlib plots inline
%matplotlib inline 

#create data frame that has the result of the MDS plus the cluster numbers and titles
df = pd.DataFrame(dict(x=xs, y=ys))#, label=clusters, title=titles)) 

#group by cluster
groups = df.groupby('label')


# set up plot
fig, ax = plt.subplots(figsize=(17, 9)) # set size
ax.margins(0.05) # Optional, just adds 5% padding to the autoscaling

#iterate through groups to layer the plot
#note that I use the cluster_name and cluster_color dicts with the 'name' lookup to return the appropriate color/label
for name, group in groups:
    ax.plot(group.x, group.y, marker='o', linestyle='', ms=12, 
            label=cluster_names[name], color=cluster_colors[name], 
            mec='none')
    ax.set_aspect('auto')
    ax.tick_params(\
        axis= 'x',          # changes apply to the x-axis
        which='both',      # both major and minor ticks are affected
        bottom='off',      # ticks along the bottom edge are off
        top='off',         # ticks along the top edge are off
        labelbottom='off')
    ax.tick_params(\
        axis= 'y',         # changes apply to the y-axis
        which='both',      # both major and minor ticks are affected
        left='off',      # ticks along the bottom edge are off
        top='off',         # ticks along the top edge are off
        labelleft='off')
    
ax.legend(numpoints=1)  #show legend with only 1 point

#add label in x,y position with the label as the film title
for i in range(len(df)):
    ax.text(df.ix[i]['x'], df.ix[i]['y'], df.ix[i]['title'], size=8)  

    
    
plt.show() #show the plot

#uncomment the below to save the plot if need be
#plt.savefig('clusters_small_noaxes.png', dpi=200)

KeyError: 'label'

### LDA Attempts - work in progress

In [44]:
#strip any proper names from a text...unfortunately right now this is yanking the first word from a sentence too.
def strip_proppers(text):
    # first tokenize by sentence, then by word to ensure that punctuation is caught as it's own token
    tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent) if word.islower()]
    return "".join([" "+i if not i.startswith("'") and i not in string.punctuation else i for i in tokens]).strip()

In [45]:
#strip any proper nouns (NNP) or plural proper nouns (NNPS) from a text
from nltk.tag import pos_tag

def strip_proppers_POS(text):
    tagged = pos_tag(text.split()) #use NLTK's part of speech tagger
    non_propernouns = [word for word,pos in tagged if pos != 'NNP' and pos != 'NNPS']
    return non_propernouns

In [47]:
from gensim import corpora, models, similarities 

#remove proper names
%time preprocess = [strip_proppers(doc) for doc in questions]

#tokenize
%time tokenized_text = [tokenize_and_stem(text) for text in preprocess]

#remove stop words
%time texts = [[word for word in text if word not in stopwords] for text in tokenized_text]

CPU times: user 4.21 s, sys: 20 ms, total: 4.23 s
Wall time: 4.21 s
CPU times: user 9.58 s, sys: 76 ms, total: 9.65 s
Wall time: 9.57 s
CPU times: user 1.34 s, sys: 28 ms, total: 1.37 s
Wall time: 1.32 s

In [48]:
#create a Gensim dictionary from the texts
dictionary = corpora.Dictionary(texts)

#remove extremes (similar to the min/max df step used when creating the tf-idf matrix)
dictionary.filter_extremes(no_below=1, no_above=0.8)

#convert the dictionary to a bag of words corpus for reference
corpus = [dictionary.doc2bow(text) for text in texts]

In [50]:
%time lda = models.LdaModel(corpus, num_topics=5, id2word=dictionary, update_every=5, chunksize=10000, passes=100)

CPU times: user 28min 56s, sys: 1.22 s, total: 28min 57s
Wall time: 28min 57s

In [51]:
lda.show_topics()

[(0,
  u'0.011*citi + 0.011*state + 0.007*countri + 0.007*new + 0.007*name + 0.007*nation + 0.006*one + 0.006*us + 0.006*first + 0.005*world'),
 (1,
  u'0.009*film + 0.009*play + 0.006*titl + 0.005*one + 0.005*show + 0.004*star + 0.004*day + 0.004*song + 0.004*music + 0.004*man'),
 (2,
  u'0.009*one + 0.008*name + 0.008*war + 0.005*first + 0.005*presid + 0.004*henri + 0.003*king + 0.003*seen + 0.003*american + 0.003*year'),
 (3,
  u'0.014*name + 0.006*mean + 0.005*call + 0.005*island + 0.005*king + 0.004*like + 0.004*may + 0.004*one + 0.004*first + 0.003*use'),
 (4,
  u'0.007*type + 0.006*sea + 0.005*name + 0.005*use + 0.004*one + 0.004*clue + 0.004*first + 0.003*anim + 0.003*seen + 0.003*crew')]

In [67]:
topics_matrix = lda.show_topics(formatted=False, num_words=20)
topics_matrix = np.array(topics_matrix)

topic_words = topics_matrix[:,:,1]
for i in topic_words:
    print [str(word) for word in i]
    print ''

ValueError: setting an array element with a sequence

In [79]:
for i in range(len(topics_matrix)):
    print i

0
1
2
3
4